
  <!-- SUCCESS -->
  <div class="padding confirmation">
    <div class="container">

      <div class="alert alert-success alert-common alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="fa fa-check"></i>
        Payé avec succès! Merci!
      </div>

      <div class="confirm">
        <h2>Merci pour votre paiement</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium odio cum optio facere, quod veritatis, repudiandae autem dolore molestias accusantium necessitatibus soluta voluptatum molestiae nihil ab ad eligendi adipisci ratione atque dicta! Quia itaque quo perferendis, facilis deleniti pariatur soluta consequatur porro, dicta ipsum a ratione accusamus dolore quae aliquid nam veniam maxime quibusdam nemo illum obcaecati repellendus corrupti excepturi. Molestiae cupiditate illo hic atque omnis voluptatem officia, voluptas quae perferendis aperiam sed placeat ea, unde quam blanditiis esse dolorum! Explicabo dolores, repudiandae sit impedit provident modi minima cupiditate. Distinctio porro cum ab architecto, neque similique repellat, minus rerum sequi.
      </div>

    </div>
  </div>
