 <section class="container-fluid clearfix productArea">
      <div class="container">

            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="produtSingle">
                  <div class="produtImage">
                    <img src="img/products/product-1.jpg" alt="Image Product" class="img-responsive">
                    <div class="productMask">
                      <ul class="list-inline productOption">
                        <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <h2><a href="/show_produit">Handmade Soap</a></h2>
                    <h3>$19</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="produtSingle">
                  <div class="produtImage">
                    <img src="img/products/product-2.jpg" alt="Image Product" class="img-responsive">
                    <div class="productMask">
                      <ul class="list-inline productOption">
                        <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <h2><a href="single-product.html">Handmade Soap</a></h2>
                    <h3>$19</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="produtSingle">
                  <div class="produtImage">
                    <img src="img/products/product-3.jpg" alt="Image Product" class="img-responsive">
                    <div class="productMask">
                      <ul class="list-inline productOption">
                        <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <h2><a href="single-product.html">Handmade Soap</a></h2>
                    <h3>$19</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="produtSingle">
                  <div class="produtImage">
                    <img src="img/products/product-4.jpg" alt="Image Product" class="img-responsive">
                    <div class="productMask">
                      <ul class="list-inline productOption">
                        <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <h2><a href="single-product.html">Handmade Soap</a></h2>
                    <h3>$19</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="produtSingle">
                  <div class="produtImage">
                    <img src="img/products/product-5.jpg" alt="Image Product" class="img-responsive">
                    <div class="productMask">
                      <ul class="list-inline productOption">
                        <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <h2><a href="single-product.html">Handmade Soap</a></h2>
                    <h3>$19</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="produtSingle">
                  <div class="produtImage">
                    <img src="img/products/product-6.jpg" alt="Image Product" class="img-responsive">
                    <div class="productMask">
                      <ul class="list-inline productOption">
                        <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <h2><a href="single-product.html">Handmade Soap</a></h2>
                    <h3>$19</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="produtSingle">
                  <div class="produtImage">
                    <img src="img/products/product-7.jpg" alt="Image Product" class="img-responsive">
                    <div class="productMask">
                      <ul class="list-inline productOption">
                        <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <h2><a href="single-product.html">Handmade Soap</a></h2>
                    <h3>$19</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="produtSingle">
                  <div class="produtImage">
                    <img src="img/products/product-8.jpg" alt="Image Product" class="img-responsive">
                    <div class="productMask">
                      <ul class="list-inline productOption">
                        <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <h2><a href="single-product.html">Handmade Soap</a></h2>
                    <h3>$19</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="produtSingle">
                  <div class="produtImage">
                    <img src="img/products/product-9.jpg" alt="Image Product" class="img-responsive">
                    <div class="productMask">
                      <ul class="list-inline productOption">
                        <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <h2><a href="single-product.html">Handmade Soap</a></h2>
                    <h3>$19</h3>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="paginationCommon productPagination">
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
                      </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>
        

      </div>
    </section>