<link href="/css/cgu.css" rel="stylesheet">

<div class="container" style="background: white;">
	<!-- accordeon -->

	<div class="allfaq">
		    <div class="secotionTitle">
      <h2 id="service" class="poli1 police_massage"><span>CONDITIONS GÉNÉRALES D’UTILISATION </span>COCOONING SPA</h2>
    </div>
		<div class="accordion js-accordion">
			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">1. Définitions</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					<i>1.1. </i>Le terme <strong><i>« Plateforme »</i></strong> désigne la plateforme Cocooning Spa qui permet aux Utilisateurs (clients et partenaires) d’accéder au Service Cocooning Spa.<br>
					<i>1.2. </i> Le terme <strong><i>« CGU »</i></strong> désigne les présentes conditions générales d’utilisation.<br>
					<i>1.3. </i>Le terme <strong><i>« Client »</i></strong> désigne toute personne physique ou morale utilisant la Plateforme dans le but d’être mise en relation avec un Partenaire pour bénéficier d’une Prestation.<br>
					<i>1.4. </i>Le terme <strong><i>« Commande »</i></strong> désigne une commande d’une Prestation faite par un Client.<br>
					<i>1.5. </i>Le terme <strong><i>« Compte »</i></strong> désigne l’espace numérique dédiée et individualisé d’un Utilisateur sur la Plateforme.<br>
					<i>1.6. </i>Le terme <strong><i>« Contenu »</i></strong> désigne tout propos, messages, information ou données mis en ligne sur la Plateforme.<br>
					<i>1.7. </i>Le terme <strong><i>« Plateforme »</i></strong> désigne la plateforme de mise en relation opérée par Cocooning Spa accessible depuis le Site et permettant de réaliser les Services.<br>
					<i>1.8. </i>Le terme <strong><i>« Partenaire »</i></strong> désigne un prestataire de service exerçant par l’intermédiaire d'une société ou du statut d’autoentrepreneur, régulièrement inscrit sur la Plateforme et disposant des compétences nécessaires pour effectuer des Prestations.<br>
					<i>1.9. </i>Le terme <strong><i>« Site »</i></strong> désigne le site Internet https://www.cocooningspa.com ainsi que l’ensemble de ses sous-domaines.<br>
					<i>1.10. </i>Le terme <strong><i>« Prestation »</i></strong> désigne la prestation de service à domicile rendue par un Partenaire à un Client dans le domaine de la location de spa/jacuzzi à domicile, du massage à domicile ou de toute autre prestation de service à domicile proposée sur la Plateforme.<br>
					<i>1.11. </i>Le terme <strong><i>« Services »</i></strong> désigne l’ensemble des services rendus par Cocooning Spa aux Utilisateurs (et notamment la mise en relation entre les Partenaires et les Clients, les outils de prise de réservation et de paiement, etc…)<br>
					<i>1.12. </i>Le terme <strong><i>« Utilisateur »</i></strong> désigne indifféremment un Client ou un Partenaire qui utilise la Plateforme.<br>
					<i>1.13. </i>Le terme <strong><i>« Cocooning Spa »</i></strong> désigne la SARL Cocooning Spa & Events enregistrée au registre du commerce et des sociétés de Nice sous le numéro 828 920 074, domiciliée au 25 Avenue des Orangers, 06000 Nice. <br>
					Sauf exigence contraire résultant du contexte, les termes et définitions déclinés au singulier incluent le pluriel, et inversement.
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">2. Objet et portée des CGU</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					Cocooning Spa exploite la Plateforme, qui permet aux Partenaires d’être mis en relation avec des Clients, afin que ceux-ci bénéficient de Prestations. <br>
					Les présentes conditions générales d’utilisation ont pour objet la définition des modalités d’accès et d’utilisation de la plateforme, ainsi que de définir les droits et obligations de Cocooning Spa, des Partenaires et des Clients en lien avec l’utilisation de la Plateforme. <br>
					Les CGU ne régissent pas la relation contractuelle entre un Client et un Partenaire pour la réalisation des Prestations. En sa qualité d’opérateur de plateforme en ligne, Cocooning Spa n’assume aucune obligation au titre des relations contractuelles entre le Client et le Partenaire. Le rôle de Cocooning Spa est limité à la fourniture des Services.
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">3. Inscription et acceptation des CGU</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					<h4>3.1. POUR LE CLIENT</h4>
					Le Client peut créer son Compte et s’inscrire sur la Plateforme au moyen du Site, au cours du processus de réservation d’une Commande ou dans l’onglet <i>« Connexion »</i>.
					Le Client doit fournir les informations nécessaires à la création de son Compte lors de sa première connexion, et notamment son nom, son prénom, son adresse email et les coordonnées de son domicile. Le Client garantit à Cocooning Spa qu’il dispose du pouvoir et de la capacité pour créer le Compte et utiliser les Services.
					Lors du processus de création du Compte, le Client s’engage à lire les CGU lorsqu’il matérialise son consentement à celles-ci en cochant la case <i>« J’accepte les conditions générales d’utilisation »</i>. Le Client est libre d’accepter ou de refuser les CGU.
					A compter de son acceptation et/ou à l’issue du processus de réservation d’une Commande, le Client reçoit un courrier électronique confirmant la création du Compte. Ce courrier contient une copie PDF des conditions générales d’utilisation que le Partenaire a acceptées. <br> <br>



					<h4>3.2. POUR LE PARTENAIRE</h4>
					Le Partenaire peut candidater et s’inscrire sur la Plateforme via le site dans l’onglet <i>« Rejoignez-nous »</i>. Celui-ci devra obligatoirement fournir les informations suivantes pour son inscription sur la plateforme : son nom, son prénom, son numéro de SIREN, son adresse email, son téléphone, son adresse et son domaine d’activité parmi les choix proposés. Le Partenaire garantit à Cocooning Spa qu’il dispose du pouvoir et de la capacité pour créer le Compte et utiliser les Services.
					Lors de son inscription sur le Site, le Partenaire s’engage à lire les CGU lorsqu’il matérialise son consentement à celles-ci en cochant la case <i>« J’accepte les conditions générales d’utilisation »</i>. Le Partenaire est libre d’accepter ou de refuser les CGU.
					A compter de son acceptation, le Partenaire reçoit un courrier électronique confirmant sa demande de candidature/inscription. Ce courrier contient une copie PDF des conditions générales d’utilisation que le Partenaire a acceptées.
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">4. Conditions d’inscription spécifiques aux Partenaires.</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					Après sa demande d’inscription sur la Plateforme, le Partenaire est invité à fournir ses disponibilités afin qu’un rendez-vous téléphonique soit organisé avec Cocooning Spa.
					Afin de finaliser son inscription sur la Plateforme et pouvoir réaliser des Prestations, le Partenaire doit fournir à Cocooning Spa, en plus des informations initialement fournies :

					<li class="li-cgu">pour tous les Partenaires : un document justificatif d’identité et la documentation relative à leur statut légal (n° SIRET ou d’immatriculation au RCS, extrait Kbis) ;</li>
					<li class="li-cgu">pour tout Partenaire exerçant une profession réglementée ou subordonnée à la détention d’une qualification professionnelle au sens de la loi n°96-603 du 5 juillet 1996, par exemple dans le domaine « massage » : les diplômes attestant de leurs compétences ;</li>
					Le Partenaire comprend et accepte que Cocooning Spa peut soumettre le Partenaire à un entretien téléphonique et à un processus de validation de compétences, notamment par le passage d’un test. Cocooning Spa peut refuser l’inscription d’un Partenaire sans avoir à s’en justifier auprès de lui.

				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">5. Évolution des Services et modification des CGU</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					Pour améliorer son fonctionnement et sa qualité, Cocooning Spa fait évoluer les caractéristiques et les fonctionnalités de la Plateforme et des Services. <br>
					Cocooning Spa peut modifier unilatéralement les CGU concernant les aspects techniques de la Plateforme et des Services dès lors qu’il n’en résulte ni augmentation du prix ni altération de la qualité et que les caractéristiques auxquelles l’Utilisateur a subordonné son engagement ont pu figurer dans les CGU. <br>
					Pour les autres modifications des CGU et des Services, Cocooning Spa informera l’Utilisateur, par tout moyen, au moins 15 jours avant leur entrée en vigueur. <br>
					En l’absence d’objection par l’Utilisateur dans ce délai, les modifications seront considérées comme étant lues et acceptées. En cas d’objection ou de refus, les CGU seront immédiatement résiliées et l’Utilisateur devra cesser d’utiliser la Plateforme et les Services, sous réserve de la parfaite exécution des obligations en vigueur (en particulier, les Utilisateurs devront honorer les Commandes en cours).
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">6. Accès, usage et sécurité du Compte</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					L’accès à la Plateforme et aux Services est exclusivement réservé aux Utilisateurs. Chaque Utilisateur comprend et accepte qu’il est responsable de l’accès et de l’utilisation de son Compte. <br>
					Sauf défaillance technique imputable à Cocooning Spa ou cas de force majeure, chaque Utilisateur est responsable de la confidentialité de ses données de connexion et s’engage à mettre en œuvre toutes les mesures de nature à assurer la sécurité et la confidentialité des données de connexion. <br>
					S’il a des raisons de croire que ses données de connexion (en particulier, son identifiant ou son mot de passe) ont été perdues, volées, détournées ou compromises d’une quelconque manière, ou en cas d’utilisation non autorisée de son Compte, l’Utilisateur doit immédiatement le notifier à Cocooning Spa.
					Dans une telle situation, l’Utilisateur autorise Cocooning Spa à prendre toutes les mesures appropriées pour empêcher tout nouvel accès au Compte.
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">7. Réalisation des Prestations</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					<h4>7.1. COMMANDE</h4>
					Le Client peut effectuer des Commandes sur le Site. Il doit sélectionner une ou plusieurs Prestation(s) particulière(s) au sein des catégories de Prestations proposées et renseigner la date et l’heure souhaitée.
					Les Prestations ne peuvent être réalisées qu’aux horaires indiqués sur le Site. <br>
					Avant validation de la Commande, le Client a accès à un récapitulatif de celle-ci et peut renseigner des demandes particulières ou donner des indications au Partenaire qui sera sélectionné. Le Client comprend et accepte que ces informations ne sont données qu’à titre indicatif et que le Partenaire ne s’y engage pas. <br>
					Le Client et le Partenaire peuvent convenir d’un commun accord de modifier une Commande avant la date prévue de la Prestation. <br> <br>

					<h4>7.2. MISE EN RELATION DES CLIENTS ET DES PARTENAIRES</h4>
					Après validation, la Commande est transmise, grâce à l’algorithme de Cocooning Spa, aux Partenaires disponibles et correspondant au mieux à la demande du Client. Une fois qu’un Partenaire a accepté la Commande, celle-ci est considérée comme validée. <br>
					Cocooning Spa sélectionne un Partenaire pour le Client sur la base d’un score qui varie notamment en fonction des critères suivants :
					<li class="li-cgu">la capacité de fidélisation des Clients par le Partenaire</li>


					<li class="li-cgu">la note du Partenaire attribuée par les Clients ; et</li>
					<li class="li-cgu">le nombre d’annulation de Commandes.</li>
					<li class="li-cgu">s’il est franchisé du réseau Cocooning Spa ou non (prioritaire surles commandes et exclusivité d’une zone géographique prédéfinie avec Cocooning Spa)</li>

					Les Prestations sont également attribuées en fonction de la localisation des Partenaires et des Clients. <br>
					Lorsqu’il reçoit une proposition de Prestation, le Partenaire demeure libre de l’accepter ou de la refuser, en utilisant la fonctionnalité correspondante sur la Plateforme. Passé ce délai, le Partenaire sera réputé avoir refusé la proposition. <br>
					Dès qu’une Commande est réalisée, Cocooning Spa sollicite plusieurs Partenaires. Les Partenaires sollicités en priorité sont ceux bénéficiant de scores élevés sur la base des critères ci-dessus. Plus la Commande sera urgente, plus les Partenaires seront sollicités rapidement afin de satisfaire la Commande. <br>
					En l’absence de réponse d’un Partenaire dans un temps qui dépend de l’urgence de la Commande, la Commande est ensuite proposée à d’autres Partenaires, jusqu’à ce qu’elle soit acceptée par l’un d’entre eux. <br> <br>
					<h4>7.3. ANNULATION D’UNE COMMANDE</h4>
					Le Client peut annuler une commande en envoyant un courrier électronique à cocooningspa@outlook.com. <br>
					Ci-dessous, les conditions d’annulation Cocooning Spa :
					<li class="li-cgu">Annulation plus de 8 jours ouvrés avant le rendez-vous prévu : aucun frais d'annulation, l’acompte versé est remboursé au Client (carte bancaire utilisée recréditée du montant versé sur le site lors de la commande).</li>
					<li class="li-cgu">Annulation moins de 8 jours ouvrés avant le rendez-vous prévu : l’acompte versé par le Client ne pourra lui être remboursé seulement sous forme de bon cadeau (bon cadeau de la valeur de l’acompte versé sur le Site lors de la commande).</li> <br>
					<h4>7.4. DÉROULEMENT DES PRESTATIONS</h4>
					Cocooning Spa n’intervient pas au moment de la Prestation, qui relève de la seule responsabilité et des compétences du Partenaire.
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">8. Conditions financières</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					<h4>8.1. PRIX DES PRESTATIONS</h4>
					Le prix des Prestations est fixé par Cocooning Spa. Le prix de chaque Prestation particulière apparaît sur la Plateforme. Le Client doit régler un acompte par carte bancaire sur le Site, puis le solde du paiement s’effectue directement le jour de la prestation auprès du Partenaire (en espèces ou carte bancaire via paypal). <br>
					La rémunération du Partenaire correspond au montant qui lui est proposé avant qu’il n’accepte une Prestation (hors frais de déplacement). <br>
					La rémunération de Cocooning Spa pour la réalisation des Services correspond à la différence entre le prix accepté par le Partenaire et le prix payé par le Client. <br>
					Le Client comprend et accepte que certaines Prestations soient soumises à des minimums de Commandes, tel qu’indiqué sur la Plateforme. <br> <br>
					<h4>8.2. PAIEMENT DES PRESTATIONS</h4>
					Le règlement des prestations se fait de la manière suivante : acompte par CB lors de la commande sur le Site, puis solde du paiement directement le jour de la prestation auprès du Partenaire (en espèces ou CB via Paypal). <br>
					Pour la gestion des flux financiers, Cocooning Spa a recours à Mercanet by BNP Paribas (intégrant Paypal), un prestataire de services de paiement qui commercialise une solution permettant la gestion des flux de paiement entre Cocooning Spa et les Clients. En utilisant la Plateforme, le Partenaire et le Client consentent à ces conditions générales d’utilisation.
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">9. Engagements de Cocooning Spa</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					Cocooning Spa s'engage à mettre la Plateforme et les Services à la disposition des Utilisateurs ainsi qu'à faire ses meilleurs efforts pour en assurer l'accessibilité et le bon fonctionnement. <br>
					À ce titre, Cocooning Spa s'engage à ce que la Plateforme et les Services soient accessibles 24/24h et 7/7j sauf cas de force majeure ou comportement imprévisible et insurmontable d’un tiers, et sous réserve des éventuelles pannes et interventions de maintenance et de mise à jour nécessaires au bon fonctionnement de la Plateforme et à la fourniture des Services. <br>
					Cocooning Spa met à la disposition des Utilisateurs un service de support pour répondre aux questions et fournir une assistance en cas de difficulté. Pour toute question ou demande d’information concernant la Plateforme ou les Services, l’Utilisateur peut contacter Cocooning Spa en lui adressant un courrier électronique à l’adresse suivante : cocooningspa@outlook.com <br>
					En cas d’un dysfonctionnement ou d’une anomalie perturbant le bon fonctionnement de la Plateforme ou des Services, Cocooning Spa s’engage à faire ses meilleurs efforts pour rétablir la situation.
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">10. Responsabilité de Cocooning Spa</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					Les Utilisateurs reconnaissent et acceptent que la responsabilité de Cocooning Spa est limitée à son rôle d’opérateur de plateforme en ligne. <br>
					En aucun cas, Cocooning Spa n’engagera sa responsabilité au titre des Prestations puisque, en sa qualité d’intermédiaire numérique, Cocooning Spa n’est pas chargée de leur réalisation. <br>
					Par ailleurs, Cocooning Spa n’est pas responsable des difficultés ou impossibilités momentanées d’accès à la Plateforme, au Compte ou aux Services si elles ont pour origine une faute d’un Utilisateur, des circonstances qui lui sont extérieures, la force majeure, ou encore qui seraient dues à des perturbations des réseaux de télécommunication ou aux limites inhérentes au fonctionnement d’un service sur Internet. <br>
					En tout état de cause, dans les cas où la responsabilité de Cocooning Spa pourrait être engagée, celle-ci est limitée aux préjudices certains, directs et prévisibles. Pour les dommages résultant d’un manquement de Cocooning Spa, la réparation due aux Utilisateurs, au cas où sa responsabilité serait directement engagée et prouvée, sera strictement limitée au coût supporté par l’Utilisateur.
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">11. Engagements des Utilisateurs</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					<h4>11.1. ENGAGEMENTS COMMUNS AUX UTILISATEURS</h4>
					L’Utilisateur s’engage expressément à :
					<li class="li-cgu">respecter les lois et règlements en vigueur et à ne pas porter atteinte à l’ordre public, aux bonnes mœurs ou aux droits de tiers et à n’enfreindre aucune disposition législative ou règlementaire ;</li>
					<li class="li-cgu">ne permettre à aucun tiers d’utiliser son Compte ;</li>
					<li class="li-cgu">ne pas publier de Contenus injurieux, diffamant, dénigrant, calomnieux, contraire aux bonnes mœurs, contrefaisant, portant atteinte à l’ordre public ou aux droits de tiers, susceptible de porter atteinte aux droits, à la réputation et à l’image de Cocooning Spa ou d’un autre Utilisateur;</li>
					<li class="li-cgu">ne pas utiliser la Plateforme ou les Services de manière frauduleuse (ex : un faux compte ou une fausse identité) et/ou pour nuire aux intérêts de Cocooning Spa ou d’un autre Utilisateur;</li>
					<li class="li-cgu">ne pas céder ou transférer d’une quelconque manière son Compte à un tiers ;</li>
					<li class="li-cgu">fournir à Cocooning Spa toutes les informations nécessaires à la bonne exécution des Services et garantir leur exactitude ;</li>
					<li class="li-cgu">faire une utilisation loyale de la Plateforme et des Services, c’est-à-dire de participer au processus d’inscription, de Commandes ou encore de notation ;</li>
					<li class="li-cgu">informer Cocooning Spa en cas de complication de toute nature, de tout problème avec un autre Utilisateur ou lors de l’utilisation de la Plateforme, du Compte et des Services ; et</li>
					<li class="li-cgu">conserver strictement confidentiel et ne partager à aucun tiers tout échange, conversation, information et, plus généralement, tout élément concernant les Prestations, les Commandes et les échanges entre Utilisateurs ou avec Cocooning Spa.</li>
					L’Utilisateur comprend et accepte qu’est strictement interdit : <br> <i class="li-cgu">i.  </i> tout comportement de nature à interrompre, suspendre, ralentir ou empêcher la continuité de la Plateforme ou des Services,
					<br> <i class="li-cgu">ii.  </i>toute intrusion ou tentative d’intrusions dans les systèmes de Cocooning Spa, 
					<br> <i class="li-cgu">iii.  </i> tout détournement des ressources système du Compte et de la Plateforme, 
					<br> <i class="li-cgu">iv.  </i> toute action de nature à imposer une charge disproportionnée sur les infrastructures numériques de Cocooning Spa,
					<br> <i class="li-cgu">v.  </i> toute atteinte aux mesures de sécurité et d’authentification, 
					<br> <i class="li-cgu">vi.  </i> tout acte de nature à porter atteinte aux droits et intérêts financiers, commerciaux ou moraux de Cocooning Spa et des autres Utilisateurs, 
					<br> <i class="li-cgu">vii.  </i> tout manquement aux CGU, 
					<br> <i class="li-cgu">viii.  </i> toute copie et/ou le détournement de l’infrastructure numérique de Cocooning Spa et 
					<br> <i class="li-cgu">ix.  </i> plus généralement toute pratique détournant la Plateforme et les Services à des fins autres que celles pour lesquelles ils ont été conçus. <br><br>
					<h4>11.2. ENGAGEMENTS DU CLIENT</h4>
					Le Client s’engage expressément à :
					<li class="li-cgu">avoir une attitude correcte, polie et décente vis-à-vis des Partenaires (par ex. conserver ses sous-vêtements pendant les Prestations de massage, qui sont des massages de bien être) ;</li>
					<li class="li-cgu">ne pas annuler des Commandes de façon récurrente ou répétitive ;</li>
					<li class="li-cgu">mettre les Partenaires dans les meilleures dispositions pour leur permettre de réaliser les Prestations dans de bonnes conditions (par exemple, prévoir une pièce avec un espace suffisant) ;</li>
					<li class="li-cgu">informer le Partenaire de certaines conditions particulières à des Prestations, et en particulier informer de la présence d’animaux au domicile du Client (cela peut empêcher certains Partenaires ayant des allergies de réaliser des Prestations) ; et</li>
					<li class="li-cgu">ne pas contacter les Partenaires après la réalisation d’une Prestation afin que ceux-ci réalisent des prestations en dehors de la Plateforme.</li> <br>
					<h4>11.3. ENGAGEMENTS DU PARTENAIRE</h4>
					Le Partenaire s’engage expressément à :
					<li class="li-cgu">répondre aux propositions de Prestations transmises par Cocooning Spa, que sa réponse soit positive ou négative, le Partenaire demeurant libre d’accepter ou de refuser une proposition de Prestation ;</li>
					<li class="li-cgu">honorer les rendez-vous qu’il a pris pour réaliser les Prestations ; et</li>
					<li class="li-cgu">disposer des compétences nécessaires à l’exercice des Prestations tout au long de la durée des CGU et tant qu’il réalise des Prestations par l’intermédiaire de la Plateforme.</li>
					<li class="li-cgu">se comporter de façon loyale vis-à-vis de Cocooning Spa, en invitant notamment les Clients à faire usage de la Plateforme lorsqu’ils souhaitent réserver une nouvelle prestation.</li>
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">12. Responsabilité des Utilisateurs</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					L’Utilisateur est responsable de son utilisation de la Plateforme et des Services, de sorte qu’il répond de tout préjudice qu’il est susceptible de causer du fait de son comportement et d’informations inexactes, incomplètes, et/ou trompeuses qu’il fournirait lors de son inscription ou en l’absence de mise à jour de ces informations, ce dont il assume seul les conséquences. <br>
					Plus spécifiquement, les Utilisateurs sont responsables :
					<li class="li-cgu">des informations qu’ils choisissent de mettre en ligne sur leur Compte et qu’ils diffusent en utilisant la Plateforme ou les Services ; et</li>
					<li class="li-cgu">de la négociation, de la conclusion et de l’exécution des contrats qui interviennent le cas échéant entre eux pour la réalisation des Prestations, Cocooning Spa n’étant qu’une plateforme numérique de mise en relation.</li>
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">13. Durée, suspension et résiliation</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					<h4>13.1. DURÉE DES CGU</h4>
					Les CGU sont conclues pour une durée indéterminée et entrent en vigueur à compter de leur acceptation par l’Utilisateur. <br><br>

					<h4>13.2. SUSPENSION</h4>
					Cocooning Spa peut suspendre temporairement et sans préavis le Compte et l’accès d’un Utilisateur à la Plateforme si celui-ci a manqué à l’un de ses engagements au titre des CGU. Passé une période d’investigation au cours de laquelle Cocooning Spa s’assurera, le cas échéant, de la véracité des manquements allégués, l’accès à la Plateforme pourra être rétabli ou les CGU pourront être résiliées conformément aux stipulations ci-dessous. <br><br>

					<h4>13.3. RÉSILIATION</h4>
					Cocooning Spa et les Clients peuvent résilier les CGU à tout moment, par tout moyen, sans motif et sans préavis en ce qui concerne leur relation contractuelle. <br>
					Cocooning Spa et les Partenaires peuvent mettre un terme aux CGU moyennant un préavis d’un mois :
					<li class="li-cgu">Cocooning Spa ou le Partenaire n’est plus satisfait des services fournis par l’un ou l’autre et ne souhaite plus collaborer, en lui notifiant sa volonté expresse de ne pas poursuivre sa collaboration ;</li>
					<li class="li-cgu">Cocooning Spa ou le Partenaire n’est plus en mesure d’exécuter ses engagements au titre des CGU (par exemple, en cas de procédure collective ou de maladie).</li>
					En cas de manquement grave à l’une des stipulations des CGU, Cocooning Spa ou le Partenaire pourra résilier les CGU sans préavis. <br><br>
					<h4>13.4. FIN DES CGU</h4>
					La résiliation des CGU ne pourra donner lieu à aucune indemnité. <br>
					Cocooning Spa ou l’Utilisateur à l’origine de la résiliation s’engage à exécuter intégralement les engagements souscrits avant la résiliation.
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">14. Respect des obligations fiscales et sociales par le Partenaire</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					Le Partenaire est informé que son activité sur la Plateforme génère des obligations légales, fiscales, sociales et administratives, dont il doit s’acquitter en vertu de la législation applicable. <br>
					Le Partenaire est seul responsable de toutes les déclarations et formalités nécessaires à son activité et doit satisfaire à toutes les obligations lui incombant le cas échéant en application du droit français et/ou de la législation étrangère dont il dépend, et notamment du paiement des cotisations et contributions sociales dues par les travailleurs indépendants. <br>
					Le Partenaire est notamment invité à se renseigner auprès des administrations concernées : 

					<li class="li-cgu">pour les impôts : <a href="https://www.impots.gouv.fr/portail/node/10841">https://www.impots.gouv.fr/portail/node/10841</a></li>
					<li class="li-cgu">pour les obligations sociales : <a href="https://www.urssaf.fr/portail/home/espaces-dedies/activites-relevant-de-leconomie.html">https://www.urssaf.fr/portail/home/espaces-dedies/activites-relevant-de-leconomie.html</a></li>
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">15. Autonomie et indépendance</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					Cocooning Spa et le Partenaire exercent leur activité en totale autonomie et indépendance, chacune d'elles supportant les risques de son activité. <br>
					En tant que partenaire commercial indépendant, le Partenaire est libre de choisir ses jours d’activité et de repos ainsi que d’utiliser le matériel de son choix pour réaliser les Prestations. <br>
					Le Partenaire n'est soumis à aucune obligation d'exclusivité vis-à-vis de Cocooning Spa (sauf s’il est franchisé Cocooning Spa). Le Partenaire est libre de conclure un/des contrat(s) similaire(s) ou équivalent(s) aux CGU avec toute personne physique ou morale, concurrente ou non de Cocooning Spa, mais également de fournir ses prestations à sa clientèle personnelle ou encore d’offrir ses services sur d’autres sites Internet (sauf s’il est franchisé Cocooning Spa). <br>
					Le Partenaire n’est soumis à aucune obligation de chiffre d’affaires ou de niveau d’activité minimum. <br>
					Le Partenaire est informé qu’il peut bénéficier du Soutien de Cocooning Spa pour le développement de son activité indépendante, dans le cadre de sa responsabilité sociale de plateforme, prévue aux articles L.7342-1 et suivants du Code du travail.
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">16. Porte-fort</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					Lorsqu’il effectue une Commande pour le compte d’un tiers, le Client s’engage à porter à la connaissance et à faire accepter les présentes CGU au tiers qui bénéficiera de la (les) Prestation(s) (ci-après, le <i><strong>« Bénéficiaire »</strong></i> ). <br>
					Le Client se porte-fort du respect des CGU par le Bénéficiaire. En cas de dommage causé par le Bénéficiaire consécutif au non-respect des CGU, le Client accepte de garantir Cocooning Spa contre toute action, demande ou revendication de toute nature contre Cocooning Spa, formulée par un Prestataire ou tout autre tiers.
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">17. Assurance</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					Certains dommages qui pourraient résulter des Prestations sont de la responsabilité des Partenaires de la Plateforme. C’est l’assurance du Partenaire qui devra couvrir ses prestations.
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">18. Propriété intellectuelle</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					La Plateforme, le Site et l’intégralité des éléments qui les composent (ci-après, les <i><strong>« Éléments de Propriété Intellectuelle »</strong></i> ), notamment, mais non limitativement, les logiciels, structures, infrastructures, bases de données et contenus de toute nature (textes, images, visuels, logos, marques…) exploités par Cocooning Spa sont protégés par tous droits de propriété intellectuelle en vigueur. <br>
					Tout Utilisateur reconnait et convient que les Éléments de Propriété Intellectuelle, y compris tous les droits de propriété intellectuelle associés, sont la propriété exclusive de Cocooning Spa. <br>
					Toute reproduction ou représentation, intégrale ou partielle, des Éléments de Propriété Intellectuelle, sans l’autorisation de Cocooning Spa, est interdite. <br>
					De même, l’Utilisateur s’interdit, sauf autorisation écrite et préalable de Cocooning Spa, d’utiliser, de reproduire, d’adapter, de modifier, de créer des œuvres dérivées, de distribuer, de concéder une licence sur, de vendre, de transférer, de présenter publiquement, de transmettre, de diffuser ou d’exploiter de toute autre manière les Éléments de Propriété Intellectuelle.
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">19. Données personnelles</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					Cocooning Spa accorde une grande importance aux données personnelles des Utilisateurs et au respect du Règlement (UE) 2016/679 du Parlement Européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données ( <strong>RGPD</strong> ).
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">20. Règlement des différends</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					En cas de litige entre un Utilisateur et Cocooning Spa, les Utilisateurs et Cocooning Spa s’engagent à rechercher un mode de résolution amiable. Le statut de Cocooning Spa étant limité à son rôle de plateforme d’intermédiation numérique, sa responsabilité ne pourra être recherchée en cas de mauvaise exécution d’une Prestation. Cependant, en cas de litige entre un Partenaire et un Client, Cocooning Spa pourra jouer un rôle d’intermédiation aux fins de parvenir à une résolution amiable du litige. <br>
					Pour toute réclamation, l’Utilisateur s’engage à contacter Cocooning Spa par courrier électronique à l’adresse suivante : cocooningspa@outlook.com
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">21. Divers</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					Les CGU remplacent les négociations, déclarations et accords ayant pu exister antérieurement. <br>
					Au cas où une stipulation des CGU s'avérait en tout ou partie nulle ou invalide, la validité des autres clauses des CGU ne serait pas affectée. <br>
					L’absence d’exercice par Cocooning Spa ou par un Utilisateur des droits qui lui sont reconnus en application des CGU ne constitue pas une renonciation à s’en prévaloir.
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->

			<div class="accordion__item js-accordion-item">
				<div class="accordion-header js-accordion-header">
					<span class="accordeon-title">22. Loi applicable – juridiction compétente</span>
				</div> 
				<div class="accordion-body js-accordion-body">
					Les CGU sont régies et interprétées par le droit français.
					Tout litige ou contestation relatif à la validité, à l’interprétation, à l’exécution et/ou à la rupture des CGU sera soumis à la compétence exclusive du Tribunal de commerce de Nice.
					En application de l’article R. 631-3 du Code de la consommation, le consommateur peut saisir à son choix, outre l'une des juridictions territorialement compétentes en vertu du code de procédure civile, la juridiction du lieu où il demeurait au moment de la conclusion du contrat ou de la survenance du fait dommageable.
				</div><!-- end of accordion body -->
			</div><!-- end of accordion item -->


		</div>
	</div>



<p class="download">
	Téléchargez ici la
<%= link_to 'version PDF', data_cgu_path , target: "_blank" %> de ces CGU
</p>
	
</div>




