<h1>Nous contacter</h1>

<p>Vous êtes journaliste ou blogueur ? <br>Nous pouvons organiser un test de nos services et vous expliquer comment Cocooning spa change la vie de ses clients.</p>

<p>Vous êtes une entreprise, un hôtel, un service de conciergerie ? <br>Nous pouvons adapter une prestation sur mesure pour vos salariés ou vos clients.</p>

<p>Vous êtes coiffeur, esthéticienne, masseur... et vous voulez devenir partenaire ? Candidatez ici</p>

<p>Vous avez tout simplement envie de nous contacter pour échanger ?</p>
