<link href="/css/contact.css" rel="stylesheet">



<!-- EXPERT SECTION -->

<section class="clearfix expertSection">

  <div class=" container contenu">

    <div class="col-sm-12 phone">
      <div class="fatext">
        <div>
          <i class="fa fa-phone" aria-hidden="true" id="ok"></i>
        </div>
        <div class="phonetext">
          <b>Téléphonez-nous: <br>138042839247128</b>
        </div>
      </div>
    </div> 
    <div class="col-sm-12 phone">
      <div class="fatext">
        <div>
          <i class="fa fa-envelope" aria-hidden="true" id="ok"></i>
        </div>
        <div class="phonetext">
          <b>Envoyez des mails: <br>email@example.com</b>
        </div>
      </div>
    </div> 

    <div class="col-sm-12 phone">

     <form action="#" method="POST">
      <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="nom" class="firstlabel">Nom</label>
          <input type="text" name="nom" class="form-control zone" required id="nom">
        </div>
        <div class="form-group">
          <label for="prenom">Prénom</label>
          <input type="text" name="prenom" class="form-control zone" required id="prenom">
        </div>

        <div class="form-group">
          <label for="mail">Mail</label>
          <input type="email" name="mail" class="form-control zone" required id="mail">
        </div>

        <div class="form-group">
          <label for="code">Code postal</label>
          <input type="search" name="mail" class="form-control zone" required id="code">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="tel" class="firstlabel">Tél</label>
          <input type="text" name="tel" class="form-control zone" required id="tel">
        </div>
        <div class="form-group">
          <label for="societe">Nom société</label>
          <input type="text" name="societe" class="form-control zone" required id="societe">
        </div>

        <div class="form-group">
          <label for="objet">Objet</label>
          <input type="text" name="objet" class="form-control zone" required id="objet">
        </div>
      </div>
      </div>

      <div class="row">
      <div class="col-sm-10">
        <div class="form-group">
          <label for="idéé">Dites nous tout !</label>
          <textarea name="idee" id="idee" cols="10" rows="10" class="form-control zone1 textearea" required></textarea>
        </div>
      </div>
      <div class="col-sm-2">
<input type="submit" value="Envoyer" class="texteareabutton">
      </div>
      </div>
    </form>
  </div>
</div> 
<section class="clearfix expertSection patternbg">

  <div class="contenu">


  </div> 


</section>

</div>

