<% content_for :head do %>
	<title>Contact pour louer un Jacuzzi / Spa gonflable - Cocooning Spa</title>
	<meta name="description" content="Contact de Cocooning Spa pour louer un Spa / Jacuzzi gonflable à domicile en France, Belgique, Luxembourg, Suisse, Maroc, Tunisie, Algérie"/>
<% end %>
<% content_for :h1 do %>
  <h1 style="position: absolute;opacity: 0;z-index: -1">
  Cocooning Spa ... est à votre écoute
  </h1>
<% end %>
<link href="/css/contact.css" rel="stylesheet">
<link href="/css/page-devise.css" rel="stylesheet">
<style>
  .form-group i[title="(obligatoire)"]{
    color: #ec5598;
    position: absolute;
    right: 10px;
    top:15px;
    font-size: 25px;
  }
</style>
<!-- EXPERT SECTION -->
<section class="clearfix expertSection">
  <div class="secotionTitle contactTitle">
    <h2 class="police_massage"><span>Cocooning Spa<br><br>est à votre écoute</span></h2>
  </div>

  <div class=" container contenu">
    <div class="col-sm-12 phone">
      <div>
        <p class="p-contact"><strong>N’hésitez pas à nous contacter ! Nous serons heureux de répondre avec enthousiasme à toutes vos demandes.</strong> Étant l’interface entre clients et professionnels du bien-être, nous nous soucions tout autant des deux parties et mettons tout en œuvre pour que vous viviez une expérience parfaite. Nous sommes et resterons toujours à votre écoute et souhaitons que votre satisfaction soit maximale.</p>
      </div>
      <div class="fatext">
        <div>
          <a href="https://wa.me/33667076587" target="_blank">
            <i class="fa fa-phone" aria-hidden="true" id="ok"></i>
          </a>
        </div>
        <div class="phonetext">
          <b><a href="tel:+33667076587">Téléphonez-nous:<br> +33 6 67 07 65 87</b></a>
        </div>
      </div>
    </div>

    <!-- CONTACT US SECTION -->
    <section class="container-fluid clearfix productArea patternbg">


    </div>
  </section>

  <section class="clearfix contactSection">
    <div class="container">
      <div class="secotionTitle">
        <div class="row">
          <div class="div-contact">Vous êtes un <i><strong>particulier</strong></i> et souhaitez échanger avec nous ? Qu’il s’agisse d’une demande de renseignement ou pour toute autre question, pour nous faire part de vos feedbacks et de vos expériences ou alors pour nous transmettre vos suggestions ou vos propositions, nous sommes là pour vous. <br>
            Vous êtes une <i><strong>entreprise</strong></i>, une <i><strong>piscine</strong></i>, une <i><strong>agence évènementielle</strong></i>, un <i><strong>service de conciergerie</strong></i>, <i><strong>organisateur d’événements, Comité d’Entreprise</strong></i>, etc ... ? Nous pouvons adapter nos prestations sur mesure pour vos clients ou vos salariés.</div>
            <div class="col-md-8 col-sm-7 col-xs-12">
              <div class="contactTitle">
                <h3></br></h3>
              </div>

              <div class="contactForm">
                <div id="alert"></div><!--Response Holder-->
                <%= form_tag(save_message_path) do %>
                <div class="form-group form-group-accueil">
                  <i title="(obligatoire)" aria-hidden="true">*</i> 
                  <input type="text" name="first_name" class="form-control" placeholder="Votre prénom" required>

                </div>
                <div class="form-group form-group-accueil">
                  <i title="(obligatoire)" aria-hidden="true" >*</i> 

                  <input type="text" name="last_name" class="form-control" placeholder="Votre nom" required>
                </div>
                <div class="form-group form-group-accueil">
                  <i title="(obligatoire)" aria-hidden="true">*</i> 

                  <input type="email" name="email" class="form-control" placeholder="Votre email" required>
                </div>
                <div class="form-group form-group-accueil">
                  <i title="(obligatoire)" aria-hidden="true">*</i> 

                  <input type="text" name="mobile" class="form-control" placeholder="Votre mobile" required>
                </div>
                <div class="form-group form-group-accueil"> 
                  <input type="text" name="corp_name" class="form-control" placeholder="Nom entreprise"> <br>
                </div>
                <div class="form-group form-group-accueil">
                  <i title="(obligatoire)" aria-hidden="true" >*</i> 

                  <textarea class="form-control" name="content" placeholder="Dîtes-nous tout !" required></textarea> 
                  <span title="(obligatoire)" aria-hidden="true" style="color: #ec5598;position: absolute;right: 0px; font-style: italic;">* champs obligatoires</span> 
                </div>
                <div class="form-group form-group-accueil">
                  <%= submit_tag("Envoyer", style:"margin-bottom:60px !important;", class:"btn btn-primary first-btn", id:"contact-submit-btn")%> 
                </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-12">

              <div class="holdingInfo patternbg">
                <div class="">
                  <h3><center>Suivez-nous</center></h3>
                </div>
                <ul>
                  <a href="https://www.facebook.com/cocooningspaev/" class="btn"><li><i class="fa icon" aria-hidden="true">
                    <img src="/img/icon-reseau-social/facebook.png" alt="">
                  </i> Cocooning Spa officiel </li></a>
                  <a href="https://www.instagram.com/cocooningspaev/?hl=fr" class="btn"><li><i class="fa icon" aria-hidden="true"> 
                    <img src="/img/icon-reseau-social/instagram.png" alt="">
                  </i> Cocooning Spa </li></a>
                  <a href="https://www.snapchat.com/add/cocooningspaev" class="btn"> <li><i class="fa icon" aria-hidden="true">
                    <img src="/img/icon-reseau-social/snapchat.png" alt="">
                  </i> Cocooning Spa snapchat</li> </a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>



    </div> 



