

<style>
  /* Mise en page du texte*/
.texte-baniere{
    color:black !important;
    align:justify; 
    position:relative; 
    left:5px!important;
 }
 
 /* font texte N de texte-baniere*/
 .texte-baniere b{
    font-size:45px;
    font-family:Brush Script MT, Brush Script Std, cursive!important;
 }
 
 
 /* font texte du titre de texte-baniere*/
 .poli1{
 
   font-family:Georgia, serif!important;
 }
 
 /* font bouton (massage domicile/location spa) de nos services*/
 .mass{
 
   color:white!important;
 }


 @media (min-width: 320px) {

  .secotionTitle h2 span {
      display: block;
      letter-spacing: normal;
      color: #ec5598;
      font-family: 'Bradley Hand, cursive'!important;
      font-size: 50px;
      letter-spacing: 4px;
      line-height: 42px;
      text-transform: capitalize;
      font-weight: 400;
      padding-bottom: 25px;
    }
}

@media (min-width: 768px) {
  .secotionTitle h2 span {
    display: block;
    letter-spacing: normal;
    color: #ec5598;
    font-family: 'Bradley Hand, cursive'!important;
    font-size: 90px;
    letter-spacing: 4px;
    line-height: 42px;
    text-transform: capitalize;
    font-weight: 400;
    padding-bottom: 25px;
    padding-top: 25px;
  }
}
@font-face {
  font-family:'Bradley Hand, cursive'!important;
  src: url('Bradley Hand, cursive') format('truetype')!important;

  }	

  .police_massage{

  font-family: Jazz LET, fantasy;
  z-index: -4;
}
</style>

<link href="/css/engagement.css" rel="stylesheet">

  <section class="clearfix pageTitleArea bak" style="background-image: url(/img/blog/contact1.jpg);">

</section>



<section>
    <div class="container contenu">
        <div class="row">
            <div class="col-sm-8">
                <i class="fa fa-rss-square" aria-hidden="true" id="ok"></i><br/><br/>
                <h4>Vous êtes journaliste <br/>ou blogueur ?</h4>
                    <em>
                        Nous pouvons organiser un test de nos services et vous expliquer comment Cocooning spa change la vie de ses clients.<br/><br/><br/><br/>
                    </em>
            </div>
            



            <div class="">
                <i class="fa fa-home" aria-hidden="true" id="bath"></i><br/><br/>
                <h4>Vous êtes une entreprise, un hôtel, un service de conciergerie ?</h4>
                    <em>
                        Nous pouvons adapter une prestation sur mesure pour vos salariés ou vos clients.<br/><br/><br/><br/>
                    </em>
            </div>
        </div> 
        
        <div class="row">
            <div class="col-sm-8">
                <i class="fa fa-user" aria-hidden="true" id="key"></i><br/><br/>
                <h4>Vous êtes coiffeur, esthéticienne, masseur, et <br/>vous voulez devenir partenaire ?</h4>
                    <em>
                        Candidatez-vous <a href="#contacter"><b>ici</b></a>.<br/><br/><br/><br/>
                    </em>  
            </div>

            <div class="">
                <i class="fa fa-volume-control-phone" aria-hidden="true" id="tarif"></i><br/><br/>
                <h4>Vous avez tout simplement envie de nous contacter pour échanger ?</h4>
                    <em>
                        Envoyer nous un message <a href="#contacter"><b>ici</b></a>.<br/><br/><br/><br/>
                    </em> 
            </div>
        </div> 
    </div> 
</section>





<!-- EXPERT SECTION -->
    <section class="clearfix expertSection">
      <div class="container">
        <div class="secotionTitle">
          <h2 class="police_massage"><span>Contacter </span>Nos experts</h2>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div id="thubmnailTeamSlider" class="carousel slide thumbnailCarousel">

              <ol class="carousel-indicators">
                <li data-target="#thubmnailTeamSlider" data-slide-to="0" class="active"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="1"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="2"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="3"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="4"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="5"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="6"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="7"></li>
              </ol>

              <!-- Carousel items -->
              <div class="carousel-inner">

                <div class="item active">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-1.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-2.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-3.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-4.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-1.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-2.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-3.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-4.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <a class="left carousel-control" href="#thubmnailTeamSlider" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#thubmnailTeamSlider" data-slide="next">›</a>
            </div>
          </div>
        </div>
      </div>
    </section>

<!-- CONTACT US SECTION -->
<div class="secotionTitle">
  <h2 id="contacter" class="police_massage"><span>INFOS</span>Contactez-nous</h2>
</div>
    <section class="clearfix contactSection">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-7 col-xs-12">
            <div class="contactTitle">
              <h3></br></h3>
            </div>

            <div class="contactForm">
              <div id="alert"></div><!--Response Holder-->
              <form action="mail/contact-form.php" id="angelContactForm" method="post">
              <div class="form-group">
                  <input type="text" name="contact-form-name" class="form-control" placeholder="Votre nom" required>
                </div>
                <div class="form-group">
                  <input type="email" name="contact-form-email" class="form-control" placeholder="Votre Email" required>
                </div>
               <div class="form-group">
                  <input type="text" name="contact-form-mobile" class="form-control" placeholder="Votre Mobile" required>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="contact-form-message" placeholder="Laisser votre Message" required></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" id="contact-submit-btn" class="btn btn-primary first-btn">Envoyer</button>

                </div>
              </form>
            </div>
          </div>
          <div class="col-md-4 col-sm-5 col-xs-12">

            <div class="holdingInfo patternbg">
              <div class="contactTitle">
                <h3><center>Réseaux sociaux</center></h3>
              </div>
              <ul>
                <a href="#" class="btn"><li><i class="fa fa-facebook" aria-hidden="true"></i> Cocooning Spa officiel </li></a>
                <a href="#" class="btn"><li><i class="fa fa-instagram" aria-hidden="true"></i> Cocooning Spa </li></a>
                <a href="#" class="btn"><li><i class="fa fa-pinterest" aria-hidden="true"></i> Cocooning Spa printerest </li></a>
                <a href="#" class="btn"><li><i class="fa fa-twitter" aria-hidden="true"></i> Cocooning Spa tweet </li></a>
                <a href="#" class="btn"> <li><i class="fa fa-users" aria-hidden="true"></i> Cocooning Spa blog</li> </a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>