
<style type="text/css">

    .bak{

        background-image: url("http://localhost:3000/img/home/engagement.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 500px;
    }
</style>

<section>
    <div class="bak">
    </div>
</section>






<section>
    <div class="">
        Ecoute, disponibilité & réactivité.
    </div>
    <div class="">
        Hygiène garantie.
    </div>
    <div class="">
        Service clé en main.<br/>
        <em>
            Vous ne vous occupez de rien, un professionnel formé et agréé se charge de tout (livraison, installation, remplissage, vidange et démontage du spa).
        </em>
        
    </div>
    <div class="">
        Tarif abordable.
    </div>
    <div class="">
        Respect des normes de qualité et de sécurité.
    </div>
    <div class="">
        Flexibilité.<br/>
        <em>
            Installation sur RDV tous les jours de l’année appartement ou villa, intérieur ou extérieur.
        </em>
    </div>
</section>
