
<link href="/css/engagement.css" rel="stylesheet">

<section>
    <div class="bak">
    </div>
</section>


<section>
    <div class="container contenu">
        <div class="row">
            <div class="col-sm-8">
                <i class="fa fa-check-square-o" aria-hidden="true" id="ok"></i><br/><br/>
                <h4>Ecoute, disponibilité & réactivité.</h4><br/><br/><br/><br/>
            </div>
            
            <div class="">
                <i class="fa fa-bath" aria-hidden="true" id="bath"></i><br/><br/>
                <h4>Hygiène garantie.</h4>
            </div>
        </div> 
        
        <div class="row">
            <div class="col-sm-8">
                <i class="fa fa-key" aria-hidden="true" id="key"></i><br/><br/>
                <h4>Service clé en main.</h4>
                    <em>
                        Vous ne vous occupez de rien, un professionnel formé et agréé se charge de tout (livraison, installation, remplissage, vidange et démontage du spa).<br/><br/><br/><br/>
                    </em>  
            </div>

            <div class="">
                <i class="fa fa-credit-card-alt" aria-hidden="true" id="tarif"></i><br/><br/>
                <h4>Tarif abordable.</h4>
            </div>
        </div> 

        <div class="row">
            <div class="col-sm-8">
                <i class="fa fa-handshake-o" aria-hidden="true" id="respect"></i><br/><br/>
                <h4>Respect des normes de qualité et de sécurité.</h4>
            </div>

            <div class="col-sm-4">
                <i class="fa fa-calendar" aria-hidden="true" id="flexible"></i><br/><br/>
                <h4>Flexibilité.</h4>
                    <em>
                        Installation sur RDV tous les jours de l’année appartement ou villa, intérieur ou extérieur.<br/><br/><br/>
                    </em>
            </div>
        </div>
    </div> 
</section>
