<link href="/css/faq.css" rel="stylesheet">
<div class="container allfaq">
<div class="accordion js-accordion">
  <div class="accordion__item js-accordion-item">
    <div class="accordion-header js-accordion-header patternbg">LOCATION SPA</div> 
    <div class="accordion-body js-accordion-body">
<!--           <div class="accordion-body__contents">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
    </div> -->
      <div class="accordion js-accordion">
        <div class="accordion__item js-accordion-item">
         <div class="accordion-header js-accordion-header">question 1</div> 
         <div class="accordion-body js-accordion-body">
           <div class="accordion-body__contents">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
          </div><!-- end of sub accordion item body contents -->
        </div><!-- end of sub accordion item body -->
      </div><!-- end of sub accordion item -->
      <div class="accordion__item js-accordion-item">
       <div class="accordion-header js-accordion-header">Question 2</div> 
       <div class="accordion-body js-accordion-body">
         <div class="accordion-body__contents">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
        </div><!-- end of sub accordion item body contents -->
      </div><!-- end of sub accordion item body -->
    </div><!-- end of sub accordion item -->
  </div><!-- end of sub accordion -->
</div><!-- end of accordion body -->
</div><!-- end of accordion item -->
<div class="accordion__item js-accordion-item">
  <div class="accordion-header js-accordion-header">MASSAGE À DOMICILE</div> 
  <div class="accordion-body js-accordion-body">
    
    <div class="accordion js-accordion">
      <div class="accordion__item js-accordion-item">
       <div class="accordion-header js-accordion-header">Question 1</div> 
       <div class="accordion-body js-accordion-body">
         <div class="accordion-body__contents">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
        </div><!-- end of sub accordion item body contents -->
      </div><!-- end of sub accordion item body -->
    </div><!-- end of sub accordion item -->
    <div class="accordion__item js-accordion-item">
     <div class="accordion-header js-accordion-header">Question 2</div> 
     <div class="accordion-body js-accordion-body">
       <div class="accordion-body__contents">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
      </div><!-- end of sub accordion item body contents -->
    </div><!-- end of sub accordion item body -->
  </div><!-- end of sub accordion item -->
</div><!-- end of sub accordion -->
</div><!-- end of accordion body -->
</div><!-- end of accordion item -->
<div class="accordion__item js-accordion-item">
  <div class="accordion-header js-accordion-header">RESERVATION PAIEMENT</div> 
  <div class="accordion-body js-accordion-body">
    
    <div class="accordion js-accordion">
      <div class="accordion__item js-accordion-item">
       <div class="accordion-header js-accordion-header">Question 1</div> 
       <div class="accordion-body js-accordion-body">
         <div class="accordion-body__contents">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
        </div><!-- end of sub accordion item body contents -->
      </div><!-- end of sub accordion item body -->
    </div><!-- end of sub accordion item -->
    <div class="accordion__item js-accordion-item">
     <div class="accordion-header js-accordion-header">Question 2</div> 
     <div class="accordion-body js-accordion-body">
       <div class="accordion-body__contents">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
      </div><!-- end of sub accordion item body contents -->
    </div><!-- end of sub accordion item body -->
  </div><!-- end of sub accordion item -->
</div><!-- end of sub accordion -->
</div><!-- end of accordion body -->
</div><!-- end of accordion item -->

</div>

















<!-- <style>
  .police_massage{

    font-family: Jazz LET, fantasy;
    z-index: -4;
  }
</style>

<link href="/css/faq.css" rel="stylesheet">


    <section class="clearfix pageTitleArea faq">
        <div class="container">
	        <div class="pageTitle">
                <h1></h1> 
                <h1 id="faqTitle"></h1> 
	        </div>
        </div>
    </section>

  
    <section class="clearfix varietySection">
      <div class="container">
        <div class="secotionTitle">
          <h2 class="police_massage"><span>Paiement</span>FAQ</h2>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="collapse-style1">
              <div class="collapse navbar-collapse navbar-ex1-collapse content-collapse">
              <img src="/img/home/faq-paiement.jpg" alt="Image">
              </div>
            </div>
          </div>
    
          <div class="col-md-6 col-xs-12">
            <div class="collapse-style2">
              <div class="collapse navbar-collapse navbar-ex1-collapse content-collapse">
                <ul class="nav navbar-nav collapse-nav">
                  <li class="active">
                    <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse6" aria-expanded="true">Where can i get some? <i class="fa fa-minus"></i></a>
                    <div id="collapse6" class="collapse collapseItem in">
                      <div class="collapse-inner">
                        <div class="media common-media">
                            <div class="media-left">
                              <img src="img/extra/img-01.jpg" alt="Image">
                            </div>
                            <div class="media-body">
                              <p>here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                            </div>
                          </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse7">Why do we use it?<i class="fa fa-plus"></i></a>
                    <div id="collapse7" class="collapse collapseItem">
                      <div class="collapse-inner">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse8">Where can I get some?<i class="fa fa-plus"></i></a>
                    <div id="collapse8" class="collapse collapseItem">
                      <div class="collapse-inner">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse9">What is lorem ipsum?<i class="fa fa-plus"></i></a>
                    <div id="collapse9" class="collapse collapseItem">
                      <div class="collapse-inner">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse10">Where does it come from?<i class="fa fa-plus"></i></a>
                    <div id="collapse10" class="collapse collapseItem">
                      <div class="collapse-inner">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    
        </div>
      </div>
    </section>


 
<section class="clearfix varietySection">
  <div class="container">
    <div class="secotionTitle">
      <h2 class="police_massage"><span>reservation</span>faq</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="collapse-style1">
          <div class="collapse navbar-collapse navbar-ex1-collapse content-collapse">
            <ul class="nav navbar-nav collapse-nav">
              <li>
                <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse1" aria-expanded="true">Where can i get some? <i class="fa fa-minus"></i></a>
                <div id="collapse1" class="collapse collapseItem in">
                  <div class="collapse-inner">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                  </div>
                </div>
              </li>
              <li>
                <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse2">Why do we use it?<i class="fa fa-plus"></i></a>
                <div id="collapse2" class="collapse collapseItem">
                  <div class="collapse-inner">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                  </div>
                </div>
              </li>
              <li>
                <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse3">Where can I get some?<i class="fa fa-plus"></i></a>
                <div id="collapse3" class="collapse collapseItem">
                  <div class="collapse-inner">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                  </div>
                </div>
              </li>
              <li>
                <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse4">What is lorem ipsum?<i class="fa fa-plus"></i></a>
                <div id="collapse4" class="collapse collapseItem">
                  <div class="collapse-inner">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                  </div>
                </div>
              </li>
              <li>
                <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse5">Where does it come from?<i class="fa fa-plus"></i></a>
                <div id="collapse5" class="collapse collapseItem">
                  <div class="collapse-inner">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="collapse-style2">
          <div class="collapse navbar-collapse navbar-ex1-collapse content-collapse">
          <img src="img/home/faq-reservation.jpg" alt="Image">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
--> 