<link href="/css/faq.css" rel="stylesheet">
<div class="container allfaq">

<section class="clearfix expertSection patternbg">

  <div class="accordion js-accordion">
    <div class="accordion__item js-accordion-item">
      <div class="accordion-header js-accordion-header patternbg">Location spa/jacuzzi à domicile</div> 
      <div class="accordion-body js-accordion-body">
  <!--           <div class="accordion-body__contents">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed, explicabo in?
      </div> -->
        <div class="accordion js-accordion">
          <div class="accordion__item js-accordion-item">
             <div class="accordion-header js-accordion-header">1/ Informations utiles</div> 
             <div class="accordion-body js-accordion-body">
               <div class="accordion-body__contents">
                  <h2>QUELS SONT LA DIMENSION ET LE POIDS DU SPA ?</h2>
                  <p>Le spa fait 2m de diamètre. Pour une utilisation optimale et sécurisée, il faut idéalement prévoir une surface plane d’environ 3mx3m. <br>
                  Le poids d’un spa en état de marche (SPA + bloc technique + 600L d’eau + 4 personnes) peut monter jusqu’à 1000kg (1 tonne), soit environ 250kg/m². Il faut donc vous assurer que le sol de votre appartement/maison est capable de supporter un tel poids.</p>

                  <h2>OÙ LE SPA PEUT-IL ÊTRE INSTALLÉ ?</h2>
                  <p>Il peut être installé aussi bien en extérieur (terrasse, jardin plat…) qu’en intérieur (salon, chambre…). Il faut préalablement vous assurer que le sol soit capable de supporter le poids du spa en état de marche. Celui-ci qui peut atteindre 1000kg (SPA + bloc technique + 600L d’eau + 4 personnes), soit environ 250kg/m².
                L’installation sur parquet (ou tout type de sol susceptible d’être endommagé par l’accumulation d’humidité) est possible à condition de bien aérer la pièce.</p>

                <h2>FAUT-IL UNE PRISE ÉLECTRIQUE SPÉCIALE ET UNE ARRIVÉE D'EAU PARTICULIÈRE ?</h2>
                <p>Non pas besoin ! Le technicien remplit votre spa à l’aide d’un tuyau raccordé sur un robinet classique (cuisine, salle de bain ou autre). Le bloc technique du spa est quant à lui branché sur une prise standard 230V 16A. <br>
                Il est possible que l’endroit où vous souhaitez l’installer ne bénéficie pas d’une prise électrique à proximité. Dans ce cas de figure, nous vous conseillons d’utiliser une rallonge neuve de bonne qualité avec terre adaptée à une utilisation en extérieure (complètement isolée) et ne pas utiliser de multiprises.</p>

                <h2>PUIS-JE UTILISER LE SPA SI J’AI UN BALLON D’EAU CHAUDE/CUMULUS ?</h2>
                <p>Oui, c’est possible. Cependant, un cumulus contient rarement plus de 300L d’eau chaude, ce qui peut allonger la durée de mise en service du spa. <br>
                Si votre cumulus est réglé pour fonctionner en heures creuses uniquement, il est impératif de le faire fonctionner en marche forcée pendant l’installation. Ce réglage s’effectue généralement au niveau du tableau électrique, ou plus rarement sur le boîtier de réglages du cumulus lui-même. <br>
                En cas d’insuffisance d’eau chaude lors de l’installation, le technicien terminera le remplissage avec de l’eau froide. Il faudra alors laisser le temps au spa de se réchauffer lui-même grâce à la résistance présente dans le bloc technique du spa (environ 2°C/heure).</p>
                Infos utiles :
                <ul>
                  <li>– Si vous êtes limité en eau chaude (ballon d’eau/cumulus), l’installation est à prévoir de préférence le matin (avant 13h) afin que le spa puisse avoir le temps de chauffer.</li>
                  <li>– Si vous n’êtes pas limité en eau chaude (vous avez l’eau chaude en continue), l’installation est à prévoir 2h avant l’heure d’utilisation souhaitée.</li>
                </ul>

                <h2>COMMENT SE DÉROULENT L’INSTALLATION ET LA DÉSINSTALLATION DU SPA ?</h2>
                <p>Votre professionnel Cocooning Spa s’occupe de tout pour l’installation et la désinstallation de votre spa.<br>
                L’installation dure 1h30 environ et se déroule comme suit :</p>
                <ul>
                  <li>Gonflage du spa (grâce à la pompe intégrée)</li>
                  <li>Branchement du bloc technique à votre spa</li>
                  <li>Nettoyage et désinfection du spa</li>
                  <li>Mise en eau (en utilisant votre eau chaude sanitaire) : le technicien remplit votre spa à l’aide d’un tuyau raccordé sur un robinet classique (cuisine, salle de bain ou autre).</li>
                  <li>Mise en route du bloc technique (filtration + chauffage)</li>
                  <li>Mise en place des options (décoration, table de massage, etc…)</li>
                </ul>

                <p>La désinstallation (24h, 48h plus tard…) dure 1h environ et se déroule comme suit :</p>
                <ul>
                  <li>Vidange du spa vers une évacuation classique (évier, toilettes, baignoire, etc…) à l’aide d’une pompe à eau électrique</li>
                  <li>Nettoyage et désinfection du spa</li>
                  <li>Dégonflage et rangement du spa</li>
                </ul>

                <p>La désinstallation (24h, 48h plus tard…) dure 1h environ et se déroule comme suit :</p>
                <ul>
                  <li>Vidange du spa vers une évacuation classique (évier, toilettes, baignoire, etc…) à l’aide d’une pompe à eau électrique</li>
                  <li>Nettoyage et désinfection du spa</li>
                  <li>Dégonflage et rangement du spa</li>
                </ul>
            </div><!-- end of sub accordion item body contents -->
          </div><!-- end of sub accordion item body -->
        </div><!-- end of sub accordion item -->
      
        <div class="accordion__item js-accordion-item">
           <div class="accordion-header js-accordion-header">2/ Hygiène, qualité & sécurité</div> 
           <div class="accordion-body js-accordion-body">
             <div class="accordion-body__contents">
                <h2>LE SPA EST-IL PROPRE ? QUELS SONT LES PRODUITS D'ENTRETIEN UTILISÉS ?</h2>
                <p>Le spa ainsi que la tuyauterie de filtration sont intégralement nettoyés et désinfectés avant et après chaque utilisation. Les filtres sont neufs et changés automatiquement pour chaque client. <br>
                Cocooning Spa utilise des produits d’entretien spécialisés pour le nettoyage des spas gonflables. L’eau est traitée au brome (oxygène actif) afin de désinfecter l’eau du spa (et de tuer tous les micro-organismes), garder une eau saine et limpide et de maintenir un taux d’oxygène permanent et régulier</p>

                <h2>LE SPA EST-IL DE BONNE QUALITÉ ?</h2>
                <p>Cocooning Spa utilise des spas de marque Intex. Ils sont très résistants et d’une qualité incomparable aux autres spas gonflables du marché. Les risques de panne ou de crevaison sont extrêmement rares.</p>

                <h2>QUELLES SONT LES RÈGLES DE SÉCURITÉ ?</h2>
                <p>Tous nos spas sont bien évidemment conformes aux normes européennes de sécurité. Ils possèdent tous un disjoncteur différentiel et une double isolation des parties électriques. <br>
                Néanmoins, nous savons tous qu’eau et électricité font rarement bon ménage. Si l’utilisation d’un spa n’est pas plus dangereuse que celle d’un sèche-cheveux à proximité d’un lavabo, il existe néanmoins un risque d’électrocution en cas de mauvaise manipulation du matériel. Bien que le bloc technique soit équipé d’un fusible destiné à protéger les utilisateurs en cas d’éclaboussure ou d’immersion, il est important d’éviter d’éclabousser le bloc technique du spa ou toute prise électrique, utilisée ou non. <br>
                Cocooning SPA décline toute responsabilité en cas de blessure due à la mauvaise utilisation du matériel mis à disposition du client.</p>
            </div><!-- end of sub accordion item body contents -->
          </div><!-- end of sub accordion item body -->
        </div><!-- end of sub accordion item -->

        <div class="accordion__item js-accordion-item">
           <div class="accordion-header js-accordion-header">3/ Questions diverses</div> 
           <div class="accordion-body js-accordion-body">
             <div class="accordion-body__contents">
              

              <h2>COMMENT FONCTIONNE LE SPA ?</h2>
              <p>Le fonctionnement du spa est très simple ! Après le remplissage, la mise en service de la filtration ainsi que l’activation du chauffage par le technicien, il n’y a plus qu’à profiter !<br>
              Un boîtier de réglages situé sur le bloc technique vous permet d’activer/désactiver les bulles ainsi que de régler la température de l’eau à votre convenance.</p>

              <h2>QUELLE EST LA TEMPÉRATURE DE L'EAU DU SPA ?</h2>
              <p>Le spa est équipé d’une résistance chauffante réglable qui permet de chauffer l’eau jusqu’à 40°C.<br>
              Pour vous permettre une utilisation rapide, l’installateur remplit le spa avec de l’eau chaude sanitaire (si vous possédez un cumulus, voir la question « Puis-je utiliser un spa si j’ai un ballon d’eau chaude/cumulus ? »). La résistance ne sert ensuite qu’à maintenir l’eau à la température choisie (minimum : la température ambiante, soit généralement 20°C – maximum 40°C).</p>

              <h2>COMBIEN COÛTE LE REMPLISSAGE DU SPA ?</h2>
              <p>En France, le prix d’un mètre cube d’eau (1000L) est situé entre 2 et 3€.<br>
              Le remplissage du spa vous coûtera donc entre 1,20€ et 1,80€.</p>

              <h2>QUELLE EST LA CONSOMMATION ÉLECTRIQUE DU SPA ?</h2>
              <p>En France, le coût moyen du kWh est de 0,14€. <br>
              La consommation électrique maximale du spa est d’environ 2kWh (filtration activée + chauffage au maximum activé). <br>
              La consommation électrique du spa vous coûtera donc 0,28€ / heure d’utilisation maximum.</p>

            </div><!-- end of sub accordion item body contents -->
          </div><!-- end of sub accordion item body -->
        </div><!-- end of sub accordion item -->

  </div><!-- end of sub accordion -->

</div><!-- end of accordion body -->

</div><!-- end of accordion item -->
<div class="accordion__item js-accordion-item">
  <div class="accordion-header js-accordion-header">Massage à domicile</div> 
  <div class="accordion-body js-accordion-body">

  <h2>Quelle taille fait la table de massage ?</h2>
  <p>Votre praticien apportera toujours une table de massage pour votre soin. Il existe différentes dimensions de tables de massage, cependant, pour vous donner un ordre de grandeur, un espace d’environ 2 x 2 mètres est nécessaire pour que votre praticien puisse installer sa table de massage.<br>
  Votre soin doit absolument se dérouler sur la table du praticien pour des raisons de sécurité et d'hygiène. Toutes demandes de massage sur lit ou sur autres surfaces seront déclinés par votre praticien ou praticienne et ils seront dans leur droit de refuser le soin. Le montant total du soin vous sera facturé et aucun remboursement ne sera effectué.</p>

  <h2>Combien de temps va durer mon soin ?</h2>
  <p>Les soins peuvent durer 30min, 1 h, 1 h 30 ou 2 h… tout dépend de vos envies ! Vous pouvez choisir la durée de votre soin et l’heure d’arrivée de votre praticien au moment de la réservation. Notre mission consiste à rendre le bien-être accessible et à vous offrir un service de massage professionnel sur mesure, quand vous le souhaitez. <br>
  Veuillez vous assurer que vous êtes bien à votre domicile, dans votre chambre d’hôtel ou à votre bureau à l’heure de votre réservation. Dans le cas exceptionnel où votre praticien aurait du retard, vous en seriez averti par notre Service Client ou directement par votre praticien. <br>
  Si l’agenda de votre praticien le permet, vous pouvez prolonger la durée de votre soin au cours de votre rendez-vous.
  Une fois achevée la durée de votre soin, votre praticien quittera la pièce pour vous laisser vous lever et vous changer à votre rythme. Il remballera ensuite son matériel et vous demandera votre ressenti sur le soin avant de vous laisser vous détendre chez vous, dans votre chambre d’hôtel ou à votre bureau.</p>


  <h2>Les praticiens sont-ils qualifiés et assurés ?</h2>
  <p>Tous les praticiens ont passé avec succès notre processus très strict de vérification de leurs références. Ils sont parfaitement qualifiés, possèdent une assurance professionnelle et répondent à nos exigences élevées. Nous procédons régulièrement à des vérifications auprès des utilisateurs pour vous assurer une qualité de soin exceptionnelle, à chaque réservation.</p>

  <h2>Je suis enceinte, quel massage choisir ?</h2>
  <p>Votre soin sera adapté selon l’avancée de votre grossesse. Le massage prénatal ne peut être pratiqué qu’après le premier trimestre (3 mois de grossesse). <br>
  IMPORTANT : Si un praticien se rend chez vous et que vous êtes au cours de votre premier trimestre, il ne pourra pas effectuer votre massage. Le soin commandé pourra cependant vous être facturé. <br>
  Si vous avez la moindre inquiétude, nous vous conseillons de consulter votre médecin avant de réserver.</p>


  <h2>Que faire pour me préparer au massage ?</h2>
  <p>Voici nos meilleurs conseils de préparation pour profiter d’une détente maximale !</p>
  <ol>
    <li>Faites de la place pour que le praticien installe sa table de massage. Les praticiens ont habituellement besoin d’un espace de 2 x 2 mètres.</li>
    <li>Nous vous conseillons de prévoir deux grandes serviettes propres pour couvrir la table de massage et votre corps, pour des raisons de confort et d’hygiène. Une petite serviette peut également être utile pour placer sous votre tête</li>
    <li>Prenez un instant pour vous rappeler toute blessure récente ou tout problème de santé dont votre praticien devrait être informé. Votre praticien vous posera quelques questions avant de commencer pour ajuster au mieux le massage à vos besoins spécifiques.</li>
    <li>Une douche chaude ou un bain avant le massage favorisent le relâchement musculaire et améliore la récupération !</li>
    <li>Mettez le chauffage en route pour chauffer la pièce avant le massage</li>
  </ol>
  <p>Votre praticien apportera tout le reste de l’équipement nécessaire à votre soin, y compris la table de massage et une sélection d’huiles essentielles. <br>
  Le plus important reste de vous détendre et de savourer votre massage !</p>

  <h2>Quand arrivera mon praticien ?</h2>
  <p>Votre praticien arrivera à l’heure prévue de votre réservation. Veuillez donc vous assurer que vous êtes bien à votre domicile, dans votre chambre d’hôtel ou à votre bureau à l’heure de votre rendez-vous. Dans le cas exceptionnel où votre praticien aurait du retard, vous en seriez averti par notre Service Client ou directement par le praticien.<br>
  Lorsqu’il arrive, veuillez montrer à votre praticien où vous souhaitez que le soin ait lieu et laissez-le attendre hors de la pièce le temps que vous vous mettiez en sous-vêtements. <br>
  Votre praticien entrera à nouveau dans la pièce lorsque vous serez prêt, il vous posera quelques questions basiques afin d’adapter votre soin à vos besoins spécifiques.</p>

  <h2>Est-ce que le praticien apporte des huiles pour le massage ?</h2>
  <p>Nous vous conseillons de prévoir deux grandes serviettes propres pour couvrir la table de massage et votre corps, pour des raisons de confort et d’hygiène. Une petite serviette peut également être utile pour être placée sous votre tête.<br>
  Votre praticien apportera tout le reste de l’équipement nécessaire à votre soin, y compris la table de massage et une sélection d’huiles essentielles.<br>
  N’hésitez pas à mettre votre propre musique si vous le souhaitez !</p>


  <h2>Que dois-je préparer avant le soin ?</h2>
  <p>Nous vous conseillons de prévoir deux grandes serviettes propres pour couvrir la table de massage et votre corps, pour des raisons de confort et d’hygiène. Une petite serviette peut également être utile pour placer sous votre tête. <br>
  Votre praticien apportera tout le reste de l’équipement nécessaire à votre soin, y compris la table de massage et une sélection d’huiles essentielles.</p>

  <h2>Comment s’habiller pour un soin ?</h2>
  <p>Vous pouvez ôter vos vêtements pour vous mettre à l’aise, en veillant cependant à garder vos sous-vêtements pendant toute la durée du massage.<br>
  Au début du soin, une fois que vous avez montré à votre praticien l’endroit où vous souhaitez recevoir votre soin, il sortira de la pièce pour vous laisser vous déshabiller dans l’intimité. À la fin du soin, votre praticien sortira également de la pièce pour vous laisser vous lever tranquillement et vous rhabiller.<br>
  Nota bene : les massages proposés sur Cocooning Spa sont des soins de bien-être uniquement, sans nature sexuelle. Aucune demande visant un degré de nudité inapproprié ne sera tolérée par votre praticien, qui a le droit de partir sans effectuer le soin si la situation se produit. Le cas échéant, le soin vous serait facturé intégralement.</p>

  <h2>Quelle sera l’intensité de pression de mon massage ?</h2>
  <p>Le degré de pression variera selon le type de massage que vous avez choisi, et selon que le praticien travaille sur les couches musculaires profondes. <br>
  Au début du rendez-vous, votre praticien vous posera quelques questions basiques afin d’adapter votre soin à vos besoins et à vos préférences. <br>
  Veuillez, s’il vous plaît, informer votre praticien si vous souffrez de blessures ou d’allergies, et lui préciser les zones de votre corps sur lesquelles vous voulez qu’il insiste. N’hésitez pas à indiquer à votre praticien si la pression vous convient et, si vous ressentez la moindre douleur, avertissez-le immédiatement.</p>

  <h2>Massages esthétiques ou médicaux ?</h2>
  <p>Les massages proposés sont des massages esthétiques et NE sont PAS des massages médicaux ou thérapeutiques qui doivent être pratiqués exclusivement par des médecins ou masseurs kinésithérapeutes.</p>

  </div><!-- end of accordion body -->
</div><!-- end of accordion item -->


<div class="accordion__item js-accordion-item">
  <div class="accordion-header js-accordion-header">Réservation, Paiement & Annulation</div> 
  <div class="accordion-body js-accordion-body">
      <h2>Comment réserver mon spa/jacuzzi à domicile ?</h2>
      <p>Pour commander votre spa/jacuzzi à domicile, rendez-vous sur la page de réservation. <br>
      Vous pourrez choisir, selon votre convenance, votre durée de location, le nombre de jacuzzi que vous souhaitez louer, vos options, votre horaire, etc….</p>

      <h2>Comment réserver mon massage à domicile ?</h2>
      <p>Pour commander votre massage à domicile, rendez-vous sur la page de réservation. <br>
      Vous pourrez choisir, selon votre convenance, votre type de massage, votre date, votre horaire, etc….</p>

      <h2>Comment ma réservation est-elle confirmée ?</h2>
      <p>Une fois votre réservation effectuée, vous recevrez par mail votre confirmation de commande. Vous pouvez également consulter l’historique de vos commandes depuis votre espace client.</p>
       
      <h2>Comment modifier ma réservation ?</h2>
      <p>Pour toute demande de modifications concernant votre réservation, contactez le service client par mail à cocooningspa@outlook.com</p>

      <h2>Comment puis-je annuler ma réservation ?</h2>
      <p>Nous comprenons que votre programme puisse changer rapidement, nous avons cependant conçu notre politique d’annulation de manière à préserver la bonne relation entre vous et vos praticiens. 
      Toute demande d’annulation doit être faite auprès du service client par mail à cocooningspa@outlook.com
      Vous pouvez annuler votre réservation gratuitement jusqu’à 8 jours ouvrés avant la date de votre rendez-vous.
      Annulation plus de 8 jours ouvrés avant la date du rendez-vous : remboursement de votre acompte
      Annulation moins de 8 jours ouvrés avant la date du rendez-vous : remboursement de votre acompte uniquement sous forme de bon cadeau</p>

      <h2>Quels moyens de paiement acceptez-vous ?</h2>
      <p>Nous acceptons plusieurs moyens de paiement :
        <ul>
          <li>Carte bancaire</li>
          <li>Compte PayPal</li>
          <li>Espèces</li>
        </ul>
      Lorsque vous confirmez votre réservation, nous débitons le moyen de paiement que vous avez choisi. <br>
      Quand la page paiement apparaît pendant le processus de réservation, il vous suffit d’ajouter ou de sélectionner le moyen de paiement de votre choix. <br>
      Paiement de l’acompte sur le site : en carte bancaire ou via paypal <br>
      Paiement du solde (sur place directement) : Espèces ou Paypal
      </p>

      <h2>Puis-je payer en espèces ?</h2>
      <p>L’acompte sur le site est obligatoirement payé par CB ou Paypal.
      Le solde du paiement qui s’effectue directement sur place auprès du professionnel peut se faire en espèces ou via Paypal.</p>

    </div><!-- end of accordion body -->
  </div><!-- end of accordion item -->

  </div>
</section>


<section class="clearfix expertSection patternbg">
  <h1>Besoin d’aide ?</h1>
  <p>Vous n’avez pas trouvé les réponses à vos questions ? Nous sommes là pour vous aider !</p>
     <form action="#" method="POST">
      <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="nom" class="firstlabel">Nom</label>
          <input type="text" name="nom" class="form-control zone" required id="nom">
        </div>
        <div class="form-group">
          <label for="prenom">Prénom</label>
          <input type="text" name="prenom" class="form-control zone" required id="prenom">
        </div>

        <div class="form-group">
          <label for="mail">Mail</label>
          <input type="email" name="mail" class="form-control zone" required id="mail">
        </div>

        <div class="form-group">
          <label for="code">Code postal</label>
          <input type="search" name="mail" class="form-control zone" required id="code">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="tel" class="firstlabel">Tél</label>
          <input type="text" name="tel" class="form-control zone" required id="tel">
        </div>
        <div class="form-group">
          <label for="societe">Nom société</label>
          <input type="text" name="societe" class="form-control zone" required id="societe">
        </div>

        <div class="form-group">
          <label for="objet">Objet</label>
          <input type="text" name="objet" class="form-control zone" required id="objet">
        </div>
      </div>
      </div>

      <div class="row">
      <div class="col-sm-10">
        <div class="form-group">
          <label for="idéé">Dites nous tout !</label>
          <textarea name="idee" id="idee" cols="10" rows="10" class="form-control zone1 textearea" required></textarea>
        </div>
      </div>
      <div class="col-sm-2">
        <input type="submit" value="Envoyer" class="texteareabutton">
      </div>
      </div>
    </form>
  

<!-- Encore a ajouter

Bloc Suivez-nous
Mettre seulement les logos des 3 réseaux (Facebook, Instagram & Snapchat avec redirection vers page concernée quand clique sur l’icône)

Facebook : https://www.facebook.com/cocooningspaev/
Instagram : https://www.instagram.com/cocooningspaev/?hl=fr
Snapchat : https://www.snapchat.com/add/cocooningspaev

 -->

</section>


</div>









<!-- <style>
  .police_massage{

    font-family: Jazz LET, fantasy;
    z-index: -4;
  }
</style>

<link href="/css/faq.css" rel="stylesheet">


    <section class="clearfix pageTitleArea faq">
        <div class="container">
	        <div class="pageTitle">
                <h1></h1> 
                <h1 id="faqTitle"></h1> 
	        </div>
        </div>
    </section>

  
    <section class="clearfix varietySection">
      <div class="container">
        <div class="secotionTitle">
          <h2 class="police_massage"><span>Paiement</span>FAQ</h2>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="collapse-style1">
              <div class="collapse navbar-collapse navbar-ex1-collapse content-collapse">
              <img src="/img/home/faq-paiement.jpg" alt="Image">
              </div>
            </div>
          </div>
    
          <div class="col-md-6 col-xs-12">
            <div class="collapse-style2">
              <div class="collapse navbar-collapse navbar-ex1-collapse content-collapse">
                <ul class="nav navbar-nav collapse-nav">
                  <li class="active">
                    <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse6" aria-expanded="true">Where can i get some? <i class="fa fa-minus"></i></a>
                    <div id="collapse6" class="collapse collapseItem in">
                      <div class="collapse-inner">
                        <div class="media common-media">
                            <div class="media-left">
                              <img src="img/extra/img-01.jpg" alt="Image">
                            </div>
                            <div class="media-body">
                              <p>here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                            </div>
                          </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse7">Why do we use it?<i class="fa fa-plus"></i></a>
                    <div id="collapse7" class="collapse collapseItem">
                      <div class="collapse-inner">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse8">Where can I get some?<i class="fa fa-plus"></i></a>
                    <div id="collapse8" class="collapse collapseItem">
                      <div class="collapse-inner">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse9">What is lorem ipsum?<i class="fa fa-plus"></i></a>
                    <div id="collapse9" class="collapse collapseItem">
                      <div class="collapse-inner">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse10">Where does it come from?<i class="fa fa-plus"></i></a>
                    <div id="collapse10" class="collapse collapseItem">
                      <div class="collapse-inner">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    
        </div>
      </div>
    </section>


 
<section class="clearfix varietySection">
  <div class="container">
    <div class="secotionTitle">
      <h2 class="police_massage"><span>reservation</span>faq</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="collapse-style1">
          <div class="collapse navbar-collapse navbar-ex1-collapse content-collapse">
            <ul class="nav navbar-nav collapse-nav">
              <li>
                <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse1" aria-expanded="true">Where can i get some? <i class="fa fa-minus"></i></a>
                <div id="collapse1" class="collapse collapseItem in">
                  <div class="collapse-inner">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                  </div>
                </div>
              </li>
              <li>
                <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse2">Why do we use it?<i class="fa fa-plus"></i></a>
                <div id="collapse2" class="collapse collapseItem">
                  <div class="collapse-inner">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                  </div>
                </div>
              </li>
              <li>
                <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse3">Where can I get some?<i class="fa fa-plus"></i></a>
                <div id="collapse3" class="collapse collapseItem">
                  <div class="collapse-inner">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                  </div>
                </div>
              </li>
              <li>
                <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse4">What is lorem ipsum?<i class="fa fa-plus"></i></a>
                <div id="collapse4" class="collapse collapseItem">
                  <div class="collapse-inner">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                  </div>
                </div>
              </li>
              <li>
                <a  class="collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapse5">Where does it come from?<i class="fa fa-plus"></i></a>
                <div id="collapse5" class="collapse collapseItem">
                  <div class="collapse-inner">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="collapse-style2">
          <div class="collapse navbar-collapse navbar-ex1-collapse content-collapse">
          <img src="img/home/faq-reservation.jpg" alt="Image">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
--> 