<h1>Galerie photo</h1>

<img class="fit-picture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/AMMA_ASSIS.jpg/220px-AMMA_ASSIS.jpg" alt="mandona">

<img class="fit-picture" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Sargent%2C_John_Singer_%281856-1925%29_-_1890-91_-_Massage_in_a_bath_house.jpg" alt="mandona">

<img class="fit-picture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/MDafoeBob20s.jpg/800px-MDafoeBob20s.jpg" alt="mandona">

<img class="fit-picture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Pierre-Auguste_Renoir_072.jpg/800px-Pierre-Auguste_Renoir_072.jpg" alt="mandona">
