<% content_for :head do %>
	<title>MENTIONS LEGALES - Cocooning Spa</title>
	<meta name="description" content="Découvrez nos mentions légales."/>
<% end %>
<link href="/css/legalnotice.css" rel="stylesheet">
<div class="container" style="background: white;">
	<div class="allfaq">
		<div class="secotionTitle section-legal">
			<h2 id="service" class="poli1 police_massage"><span>MENTIONS LÉGALES</span></h2>
		</div>
		<div class="row">
			<div class="col-sm-7 noticePadding">
				<h2 class="noticeTitle1">Protection des données personnelles, Cookies & Accès au site</h2>
				<p class="textNotice">La présente déclaration de protection des données concerne uniquement l’utilisation des données recueillies par Cocooning Spa lors de la visite de son site Internet. Nous nous engageons pleinement à protéger votre vie privée et à respecter vos choix. Ainsi Cocooning Spa met tout en œuvre pour se conformer aux obligations en vertu du règlement général sur la protection des données (RGPD).</p>
				<p class="textNotice">Lorsqu’un utilisateur se rend sur le site internet Cocooning Spa, des données issues des fichiers-journaux de son ordinateur (p. ex. l’adresse IP, la date et l’heure de l’accès, le nom du fichier consulté, historique des liens cliqués) sont automatiquement recueillies et analysées à des fins statistiques. Des services externes d’analyse de site Internet étudient également le comportement de l’utilisateur.</p>
				<p class="textNotice">Des cookies peuvent être enregistrés dans l’ordinateur de l’utilisateur : ils seront réutilisés lorsque celui-ci visitera le site Internet la fois suivante, et ce afin de lui en faciliter l’accès ou de permettre l’utilisation de certaines fonctions de la plateforme. Dans le cas où l’utilisateur ne souhaite pas que de telles données soient enregistrées, il peut bloquer leur accès en configurant son navigateur en conséquence ou supprimer tout simplement le cookie enregistré. Lorsqu’il est nécessaire de saisir des données personnelles pour pouvoir profiter d’une offre proposée sur la plateforme Cocooning Spa, l’utilisateur est informé des conditions d’utilisation supplémentaires avant l’envoi des données personnelles. <br>
				Cocooning Spa ne peut pas garantir que le site Internet qu’elle exploite sera accessible à tout moment et décline toute responsabilité en cas d’erreurs lors de l’échange des données.</p>
				<p class="textNotice">Les moyens technologiques les plus modernes sont mis en œuvre pour protéger les données contre tout accès ou tout traitement non autorisés. Les données sensibles ou personnelles sont transmises sous forme cryptée. Cocooning Spa décline cependant toute responsabilité concernant la sécurité des données transmises par Internet.
				En aucun cas, les données recueillies sur le site <a href="/">cocooningspa.com</a> ne seront cédées ou vendues à des tiers. Aucune adresse email ne sera transmise à des tiers y compris à nos partenaires sauf avec l’accord écrit des intéressés.</p>

			</div>

			<div class="col-sm-5 noticePadding">
				<div class="row">
					<div class="col-sm-12 colReduit">
						<h2 class="noticeTitle">Propriété & exploitant du site</h2>
						<p class="textNotice">
							Le propriétaire et éditeur du site web <a href="/">https://www.cocooningspa.com/</a> est la personne morale Cocooning Spa. <br>
							<strong><i>Siège social :</i></strong> 25 Avenue des Orangers – 06000 Nice<br>
							<strong><i>SIRET 82892007400014 RCS Nice</i></strong><br>
							<strong><i>TVA applicable</i></strong><br>
							<strong><i>Téléphone : </i></strong>06 67 07 65 87<br>
							<strong><i>E-mail : </i></strong>cocooningspa@outlook.com<br>
							Le directeur de la publication est la personne morale Cocooning Spa.<br>
						</p>
					</div>
					<strong>
</strong>

					<div class="col-sm-12 colReduit">
						<h2 class="noticeTitle">Copyright</h2>
						<p class="textNotice">Le contenu du présent site est protégé par copyright. L’accès aux données, images et textes est exclusivement à usage personnel. Toute reproduction, modification ou publication, totale ou partielle est interdite quelles qu’en soient les raisons. Toute utilisation des marques ou logos, sans le consentement exprès et écrit de Cocooning Spa ou des tiers concernés constitue une violation de ce copyright pouvant entraîner des poursuites judiciaires.</p>
					</div>

					<div class="col-sm-12 colReduit">
						<h2 class="noticeTitle">Modification des mentions légales & conditions d'utilisation</h2>
						<p class="textNotice">Cocooning Spa se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes mentions légales afin de les adapter aux évolutions du site et/ou de son exploitation. L’utilisateur s’engage donc à les consulter régulièrement.</p>	
					</div>
				</div>
			</div>
		</div>	 
	</div>


	