<link href="/css/massage.css" rel="stylesheet">
<link href="/css/avisslider.css" rel="stylesheet">

<style>
  .police_massage{

    font-family: Jazz LET, fantasy;
    z-index: -4;
  }
  @media (min-width: 992px){
    .h1 {
      font-size: 55px;
      line-height: 55px;
      margin: 0 0 10px;
    }
    .poli2{

     font-family:Georgia, serif!important;
     text-align: left !important;
     
     
   } 
   .police_spa{

    font-family: Jazz LET, fantasy!important;
    z-index: -4;
  }
}
@media (min-width: 768px){
  .h1 {
    font-size: 50px;
    line-height: 50px;
    margin: 0 0 10px;
  }
  .poli2{

   font-family:Georgia, serif!important;
   text-align: left !important;
   color:black!important ;
 }
 
 .poli2 b{

   font-family:Brush Script MT, Brush Script Std, cursive!important;
   text-align: left !important;
   color:black!important ;
   font-size: 30px;
   
 }
 .police_spa{

  font-family: Jazz LET, fantasy!important;
  z-index: -4;
}
}

@media (min-width: 320px){
  .h1 {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    
  }
  
  .poli2{

   font-family:Georgia, serif!important;
   text-align: left !important;
   margin-bottom:1px !important;
   
 }
 
 .police_spa{

  font-family: Jazz LET, fantasy!important;
  z-index: -4;
}
}
.elsebg{
  background-color: white;
  padding: 50px;
}

</style>

<!-- SERVICES SECTION -->
<section class="clearfix reviewSection patternbg">
  <div class="container">
    <div class="secotionTitle">
      <h2 class="police_massage"><span>Description</span></h2>
    </div>
    <center class="elsebg"><h4>Cocooning Spa aide…à vous détendre</h4>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <span>A domicile, à l’hôtel ou encore au bureau…Le massage vient à vous, où vous le voulez, quand vous le souhaitez !</span>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </center>
    <br><br>
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-sm-9 col-sm-offset-3 col-xs-12 reviewInner">
            <div class="reviewImageMassage1 hidden-xs">
              <img src="img/home/offer-1.jpg" alt="Image review" class="img-responsive" alt="Massage">
            </div>
            <div class="reviewInfo">
              <center><i class="sansfa" aria-hidden="true">Relaxez-vous</i></center>
              <p class="text-p-massage">Vous êtes fatigué, stressé et rentrez tard tous les soirs ? Vous rêvez d’évasion, de douceur, de relaxation, de lâcher prise, de bien-être et détente? <br>
                Vous rêvez de vous faire masser mais ne souhaitez pas sortir de chez vous ? <br>
                Vous voulez un massage relaxant tout de suite et ne souhaitez pas attendre la semaine prochaine pour obtenir un rendez-vous ? <br>
                Nous vous proposons une expérience inoubliable et apaisante : offrez-vous un massage bien-être de votre choix, en restant dans votre environnement familier.
                Pas besoin d’équipement particulier, nos praticiens viennent avec leur table de massage et tous les accessoires nécessaires à la pratique du massage choisi.
              Prendre un temps pour soi est devenu une nécessité absolue dans notre vie quotidienne alors n’hésitez pas et tentez la relaxation à domicile !</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-sm-9 col-sm-offset-3 col-xs-12 reviewInner">
            <div class="reviewImageMassage2 hidden-xs">
              <img src="img/home/offer-2.jpg" alt="Image review" class="img-responsive" alt="Massage">
            </div>
            <div class="reviewInfo">
              <center><i class="sansfa" aria-hidden="true">Les avantages du massage à domicile</i></center>
              <p class="text-p-massage">
                Liberté et détente sont les maîtres-mots du massage à domicile. 
                Le massage à domicile vous laissera libre de choisir l’ambiance de la pièce (musique, lumière et senteurs éventuelles), rendant ainsi ce moment particulièrement agréable et apaisant. Rester chez soi est l'un des principaux avantages d'un massage à domicile. Dans un environnement connu, vous vous détendez plus facilement.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-sm-9 col-sm-offset-3 col-xs-12 reviewInner">
            <div class="reviewImageMassage3 hidden-xs">
              <img src="img/home/offer-4.jpg" alt="Image review" class="img-responsive" alt="Massage">
            </div>
            <div class="reviewInfo">
              <center><i class="sansfa" aria-hidden="true">Le meilleur du massage chez soi</i></center>
              <p class="text-p-massage">
                Le massage est l’un des meilleurs moyens de relaxation, de remise en forme ou de médecine alternative. Il permet de se ressourcer, se revitaliser et ainsi d’augmenter la capacité physique et psychique. C’est pourquoi Cocooning Spa a décidé de rendre le massage accessible à tous et à toute heure.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- comment ca marche SECTION -->
<section class="clearfix productSection patternbg">
  <div class="container">
    <div class="secotionTitle">
      <h2 class="police_massage"><span>gamme de massage</span>Nos massages</h2>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div id="productSlider" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#productSlider" data-slide-to="0" class="active"></li>
            <li data-target="#productSlider" data-slide-to="1"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="productImage">
                    <img src="img/home/gallery-3.jpg" alt="Image Product" class="img-responsive">
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="productInfo">
                    <h3>Massage Classique / découverte</h3>
                    <p>Le massage classique est un traitement qui agit sur chaque partie du corps les unes après les autres. Il se pratique par pétrissage, lissage, vibration ou par des mouvements plus petits et plus subtils sur les points de tension. Il s’agit d’un massage global relaxant qui en plus de soulager les tensions musculaires superficielles et profondes, possède de multiples actions thérapeutiques. Il permet de renforcer le système immunitaire, d’améliorer les fonctions digestives, de stimuler la vitalité des tissus, favoriser une bonne circulation sanguine et d’apaiser les tensions nerveuses. Le massage classique est recommandé pour les insomnies, les angoisses, le stress, la nervosité, la constipation, les migraines. </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="productImage">
                    <img src="img/home/gallery-1.jpg" alt="Image Product" class="img-responsive">
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="productInfo">
                    <h3>Massage Anti-stress / relaxant</h3>
                    <p>Le massage anti-stress est source de détente, en enlevant les nœuds musculaires et en optimisant la circulation sanguine et lymphatique. Il élimine stress et anxiété. Il élimine ainsi les toxines à l’origine des dépressions. Une fois les tensions dissipées, l’organisme se relaxe, les muscles et articulations retrouvent leur souplesse. Cette action se répercute directement sur le cerveau puisque l’évacuation des toxines optimise son oxygénation.
                    Son application régulière permet de réguler la tension artérielle, d’apaiser certains troubles liés aux maladies cardio-vasculaires, de soulager les problèmes respiratoires graves comme l’asthme, de mettre un terme à l’insomnie.</p>
                  </div>
                </div>
              </div>
            </div>



            <!-- Wrapper for slides -->

            <div class="item">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="productImage">
                    <img src="img/home/massage-sportif.jpg" alt="Image Product" class="img-responsive">
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="productInfo">
                    <h3>Massage Sportif</h3>
                    <p>Par le massage de préparation, le masseur contribue à la mise en forme du sportif. Il lui permet d’affronter la compétition, d’éviter les blessures et de diminuer le trac. Par le massage de récupération, le masseur aide à une récupération plus rapide par le drainage des toxines, par une diminution de la fatigue.
                    Préserver son énergie et éviter les « coups de pompe » est un élément de la vie professionnelle d’aujourd’hui. Retrouver rapidement ses capacités physiques et sa vigilance après un effort est essentiel.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="productImage">
                    <img src="img/home/plantaire.jpg" alt="Image Product" class="img-responsive">
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="productInfo">
                    <h3>Réflexologie plantaire</h3>
                    <p>La réflexologie plantaire est une thérapie manuelle fondée sur l’existence au niveau des pieds de zones réflexes représentant chaque organe du corps. Lorsque ces zones sont activées par simple pression, l’état de l’organe est amélioré ou redynamisé.
                    Nos pieds recueillant environ 7200 terminaisons nerveuses, il est possible, par simple pression des doigts à des endroits précis de la plante et du dos du pied, d’agir à distance sur certaines régions de l’organisme.</p>
                  </div>
                </div>
              </div>
            </div>




            <!-- Wrapper for slides -->

            <div class="item">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="productImage">
                    <img src="img/home/main.jpg" alt="Image Product" class="img-responsive">
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="productInfo">
                    <h3>Massage Pieds & Mains</h3>
                    <p>Les pieds supportent le poids de notre corps et sont sujets à de nombreuses agressions extérieures comme le sol dur ou des chaussures inconfortables. Ils sont composés d’une multitude de terminaisons nerveuses qui influent sur l’ensemble de notre organisme. Les mains font parties des endroits les plus sensibles de notre corps. Elles renferment de nombreuses terminaisons nerveuses qui sont en communication constante avec notre cerveau. Sollicitées en permanence, elles sont les premières victimes de nos stress et fatigues. Le massage des mains et des pieds contribue à l’élimination du stress, à la décontraction et aide à diminuer les émotions négatives. Il vous procurera une énorme sensation de bien-être et de détente.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="productImage">
                    <img src="img/home/dos.jpg" alt="Image Product" class="img-responsive">
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="productInfo">
                    <h3>Massage du Dos</h3>
                    <p>Le massage du dos est source de relaxation et de détente après une journée éprouvante ou juste pour se faire plaisir une fois de temps en temps. Ses bienfaits sont innombrables, il permet notamment de tonifier, de relaxer et de stimuler le dos qui est une des zones du corps les plus sujettes aux tensions. En effet, de très nombreux et puissants muscles sont sollicités dans cette région et il est possible de les soulager en les massant. Le dos souffre de notre rythme de vie et de nos mauvaises postures, le dos est un peu l’endroit où tout notre stress et notre fatigue sont stockés. Ce massage permet d’évacuer le stress, de reposer votre dos et donc d’apporter une énergie nouvelle.</p>
                  </div>
                </div>
              </div>
            </div>




            <div class="item">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="productImage">
                    <img src="img/home/epaule.jpg" alt="Image Product" class="img-responsive">
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="productInfo">
                    <h3>Massage Crâne, nuque & épaules</h3>
                    <p>
                      Ce massage sollicite particulièrement les zones soumises au stress de la vie quotidienne en stimulant les zones réflexes et énergétiques. Il dénoue et agit sur vos tensions accumulées au niveau des épaules, de la nuque et du cuir chevelu. Ce massage vous procure un bien-être physique et psychique. Vous vous sentirez complètement détendu(e). Le massage Crâne, Nuque & Épaules est spécialement recommandé si vous passez du temps devant l’ordinateur ou en voiture, car il rétablira les maux créés sur une région qui supporte le poids de votre tête ou une position pas toujours la mieux adaptée.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="productImage">
                    <img src="img/home/prenatal.jpg" alt="Image Product" class="img-responsive">
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="productInfo">
                    <h3>Massage pré natal</h3>
                    <p>Les massages peuvent faire énormément de bien aux femmes enceintes et soulager les ventres douloureux. Ce qui est bon pour la maman est en général bon pour le foetus ! Les massages permettent à la maman de se détendre et de se sentir mieux.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="productImage">
                    <img src="img/home/assis.jpg" alt="Image Product" class="img-responsive">
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="productInfo">
                    <h3>Massage assis</h3>
                    <p>C’est un massage qui se pratique assis sur une table de massage adaptée. Il permet de profiter de tous les bienfaits d’un massage, même quand on est pressé. Ce massage est particulièrement bénéfique si vous ressentez des tensions dans le dos.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- Left and right controls -->
          <a class="left carousel-control" href="#productSlider" role="button" data-slide="prev">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#productSlider" role="button" data-slide="next">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- PRICING SECTION -->
<section class="clearfix pricingSection patternbg">
  <div class="container">
    <div class="secotionTitle">
      <h2 class="police_massage"><span>Préstations</span>Tarifs</h2>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <div class="priceTableWrapper">
          <div class="priceImage" style="background-image: url(img/home/pricing-1.jpg);">
            <!-- <img src="img/home/pricing-1.jpg" alt="Image Price" class="img-responsive"> -->
            <div class="maskImage">
              <h3>30 minutes</h3>
            </div>
            <div class="priceTag">
              <h4>50€</h4>
            </div>
          </div>
          <div class="priceInfo">
            <ul class="list-unstyled">
              <li>classique / découverte</li>
              <li>Dos</li>
              <li>Crâne, nuque & épaules</li>
              <li>Réflexologie plantaire</li>
              <li>Massage assis</li>
            </ul>

            <a href="#" class="btn btn-primary first-btn">Réserver</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="priceTableWrapper">
          <div class="priceImage" style="background-image: url(img/home/pricing-2.jpg);">
            <!-- <img src="img/home/pricing-2.jpg" alt="Image Price" class="img-responsive"> -->
            <div class="maskImage">
              <h3>60 minutes</h3>
            </div>
            <div class="priceTag">
              <h4>70€</h4>
            </div>
          </div>
          <div class="priceInfo">
            <ul class="list-unstyled">
              <li>Classique / découverte</li>
              <li>Anti-stress / relaxant</li>
              <li>Sportif </li>
              <li>Réflexologie plantaire</li>
              <li>Pieds & Mains</li>
              <li>Dos</li> 
              <li>Crâne, nuque & épaules</li>
              <li>Pré natal</li>
            </ul>
            <a href="#" class="btn btn-primary first-btn">Réserver</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="priceTableWrapper">
          <div class="priceImage" style="background-image: url(img/home/pricing-3.jpg);">
            <!-- <img src="img/home/pricing-3.jpg" alt="Image Price" class="img-responsive"> -->
            <div class="maskImage">
              <h3>90 minutes</h3>
            </div>
            <div class="priceTag">
              <h4>90€</h4>
            </div>
          </div>
          <div class="priceInfo">
            <ul class="list-unstyled">
              <li>Classique / découverte</li>
              <li>Anti-stress / relaxant</li>
              <li>Sportif </li>
              <li>Réflexologie plantaire</li>
              <li>Pieds & Mains</li>
              <li>Dos</li> 
              <li>Crâne, nuque & épaules</li>
              <li>Pré natal</li>
            </ul>
            <a href="#" class="btn btn-primary first-btn">Réserver</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="priceTableWrapper">
          <div class="priceImage" style="background-image: url(img/home/pricing-4.jpg);">
            <!-- <img src="img/home/pricing-4.jpg" alt="Image Price" class="img-responsive"> -->
            <div class="maskImage">
              <h3>120 minutes</h3>
            </div>
            <div class="priceTag">
              <h4>110€</h4>
            </div>
          </div>
          <div class="priceInfo">
            <ul class="list-unstyled">
              <li>Classique / découverte</li>
              <li>Anti-stress / relaxant</li>
              <li>Sportif </li>
              <li>Réflexologie plantaire</li>
              <li>Pieds & Mains</li>
              <li>Dos</li> 
              <li>Crâne, nuque & épaules</li>
              <li>Pré natal</li>
            </ul>
            <a href="#" class="btn btn-primary first-btn">Réserver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- comment ca marche SECTION -->
<section class="container-fluid clearfix productArea">
  <div class="container">
    <div class="secotionTitle">
      <h2 class="police_massage"><span>Comment</span>ça marche?</h2>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="produtSingle">
          <div class="produtImage">
            <img src="img/bonhomme-reservation.jpg" alt="Image Product" class="img-responsive">
            <div class="productMask"></div>
          </div>
          <div class="productCaption">
            <p class="ccm">Choisissez vos prestations et réservez le jour et l’heure de votre choix directement en ligne.</p>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="produtSingle">
          <div class="produtImage">
            <img src="img/bonhomme-ccm.jpg" alt="Image Product" class="img-responsive">
            <div class="productMask"></div>
          </div>
          <div class="productCaption">
            <p class="ccm">Votre praticien professionnel vient chez vous. Vous n’avez besoin d’aucun équipement spécifique, celui-ci aura déjà tout ce qu’il faut.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="produtSingle">
          <div class="produtImage">
            <img src="img/bonhomme-massage.jpg" alt="Image Product" class="img-responsive">
            <div class="productMask"> </div>
          </div>
          <div class="productCaption">
            <p class="ccm">Profitez de votre massage et lâchez prise, c’est votre moment ! </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- NOS ENGAGEMENTS -->
  <div class="secotionTitle">
    <h2 id="contacter" class="police_massage"><span>Nos engagements</span></h2>
  </div>
  <section class="clearfix contactSection">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">

          <div>
            <b><span><i class="fa fa-check-square-o" aria-hidden="true" id="ok"></i></span> Ecoute, disponibilité & réactivité</b>
          </div>
          <p class='text-p-index'>De la réservation jusqu’au suivi de votre satisfaction, nous comptons bien vous cocooner</p>

        </div>
        <div class="col-sm-6">
          <div>
            <b><span><i class="fa fa-thumbs-up" aria-hidden="true" id="ok"></i></span> Professionnels sélectionnés, formés et diplômés</b>
          </div>
          <p class='text-p-index'>Toutes nos prestations sont réalisées par des professionnels sélectionnés, formés et diplômés. Ils s’occuperont de vous avec talent et gentillesse !</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div>
            <b><span><i class="fa fa-coffee" aria-hidden="true" id="ok"></i></span> Service clé en main  </b>
          </div>
          <p class='text-p-index'>Vous n’avez rien à prévoir, le professionnel vient avec son matériel et ses huiles de massage.</p>
        </div>
        <div class="col-sm-6">

          <div>
            <b><span><i class="fa fa-clock-o" aria-hidden="true" id="ok"></i></span> Prestations sur mesure </b>
          </div>
          <p class='text-p-index'>C’est vous qui choisissez votre prestation et vos horaires, nous qui nous adaptons. Vous pouvez personnaliser votre moment en fonction de vos envies.</p>
        </div>

      </div> 

      <div class="row">

        <div class="col-sm-6">
          <div>
            <b><span><i class="fa fa-eur" aria-hidden="true" id="ok"></i></span> Prix attractifs </b>
          </div>
        </div>
        <div class="col-sm-6">
          <div>
            <b><span><i class="fa fa-bath" aria-hidden="true" id="ok"></i></span> Hygiène garantie  </b>
          </div>
        </div>
      </div>  
    </div>

  </section>


  <!-- Pour qui -->
  <section class="container-fluid clearfix productArea patternbg">
    <div class="container">
      <div class="secotionTitle">
        <h2 class="police_massage"><span>Pour qui?</span></h2>
      </div>
      <center class="elsebg"><h4>Pour LES STRESSÉ(E)S</h4>
        <div class="row">
          <div class="col-sm-12">
            <span>Quand on doit penser dès le matin au programme du soir, et dès le soir au planning du lendemain, le corps et l’esprit fatiguent. Le massage à domicile, c’est la dose anti-stress qui manquait aux super-actifs.</span>
          </div>
        </div>
      </center>
      <br>
      <center class="elsebg"><h4>Pour LES SPORTIFS/VES</h4>
        <div class="row">
          <div class="col-sm-12">
            <span>Qu’y a-t-il de meilleur encore qu’un massage ? Un massage après le sport ! Que l’on soit champion de haut niveau ou simple amateur, le corps apprécie toujours qu’on le chouchoute après avoir bien travaillé.</span>
          </div>
        </div>
      </center>

      <br>
      <center class="elsebg"><h4>Pour LES FUTURES MAMANS</h4>
        <div class="row">
          <div class="col-sm-12">
            <span>Attendre bébé est une belle aventure, mais ce n’est pas un long fleuve tranquille ! Pour aider les futures mamans à se détendre, nos professionnel(le)s les massent en respectant un protocole spécifique, celui du massage pré-natal.</span>
          </div>
        </div>
      </center>

    </div>
  </section>


  <!-- section avis -->
  <section class="clearfix contactSection patternbg">
    <div class="container">
      <div class="secotionTitle">
        <h2 id="contacter" class="police_massage"><span>Avis</span>des clients</h2>
      </div>
      <div id="slider">
        <a class="control_next">></a>
        <a class="control_prev"><</a>
        <ul>
          <li>SLIDE 1</li>
          <li style="background: #aaa;">SLIDE 2</li>
          <li>SLIDE 3</li>
          <li style="background: #aaa;">SLIDE 4</li>
        </ul>  
      </div>
    </div>
  </section>


  <!-- ZONE CONCERNES -->
  <section class="clearfix brandArea patternbg">
    <div class="container">
      <div class="secotionTitle">
        <h2 id="a-propos" class="police_massage"><span>Où bénéficier </span>de nos services ?</h2>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="owl-carousel partnersLogoSlider">
            <div class="slide">
              <div class="partnersLogo clearfix">
                <img src="img/home/france.png" alt="Image Partner">
              </div>
            </div>  
            <div class="slide">
              <div class="partnersLogo clearfix">
                <img src="img/home/luxembourg.png" alt="Image Partner">
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <img src="img/home/belgique.jpg" alt="Image Partner">
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <img src="img/home/suisse.png" alt="Image Partner">
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12">
          <center>Nos services sont disponibles partout en France, Belgique, Luxembourg & Suisse. Alors n’attendez plus, nous ne sommes pas loin de chez vous ! <br><br>
          </center>
        </div>
      </div>
    </div>
  </section>


  <!-- CONTACT US SECTION -->
  <section class="clearfix contactSection">
    <div class="container">
      <div class="secotionTitle">
        <h2 id="contacter" class="police_massage"><span>Infos</span>Contactez-nous</h2>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-7 col-xs-12">
          <div class="contactTitle">
            <h3></br></h3>
          </div>

          <div class="contactForm">
            <div id="alert"></div><!--Response Holder-->
            <form action="mail/contact-form.php" id="angelContactForm" method="post">
              <div class="form-group">
                <input type="text" name="contact-form-name" class="form-control" placeholder="Votre nom" required>
              </div>
              <div class="form-group">
                <input type="email" name="contact-form-email" class="form-control" placeholder="Votre Email" required>
              </div>
              <div class="form-group">
                <input type="text" name="contact-form-mobile" class="form-control" placeholder="Votre Mobile" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="contact-form-message" placeholder="Laisser votre Message" required></textarea>
              </div>
              <div class="form-group">
                <button type="submit" id="contact-submit-btn" class="btn btn-primary first-btn">Envoyer</button>

              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4 col-sm-5 col-xs-12">

          <div class="holdingInfo patternbg">
            <div class="contactTitle">
              <h3><center>Réseaux sociaux</center></h3>
            </div>
            <ul>
              <a href="https://www.facebook.com/cocooningspaev/" class="btn"><li><i class="fa fa-facebook" aria-hidden="true"></i> Cocooning Spa officiel </li></a>
              <a href="https://www.instagram.com/cocooningspaev/?hl=fr" class="btn"><li><i class="fa fa-instagram" aria-hidden="true"></i> Cocooning Spa </li></a>
              <a href="#" class="btn"> <li><i class="fa fa-users" aria-hidden="true"></i> Cocooning Spa blog</li> </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- BUTTONS SECTION -->
  <section class="clearfix buttonArea">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="buttonPart">
            <ul class="list-inline fullRoundBtn">
              <li class="li"><a href="javascript:void(0)" class="btn btn-common btn-full-round btn-theme" id="btn-reserve-fixe">JE RÉSERVE MON MASSAGE À DOMICILE</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>