<link href="/css/partner.css" rel="stylesheet">
<link href="/css/page-devise.css" rel="stylesheet">

<style>



  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;


    padding: 10px;
  }

  #nav {
    background-color: rgba(255, 255, 255, 0.01);
    
    position: relative;
    top: -80px;
  }


  ul a {
    color: #f8f8f2;
    text-decoration: none;
    padding: 20px 5px;
  }

  a:hover {
    color: deeppink;
  }

  .flex-nav {
    width: 100%;
  }

  .flex-nav ul {
    display: flex;
    justify-content: space-between;
  }

  .flex-nav li {
    flex: 2;
    display: flex;
    flex-basis: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .flex-nav li:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .flex-nav .social {
    flex: 1;
  }

  .toggleNav {
    display: none;
  }

  @media all and (max-width: 1000px) {
    .flex-nav ul {
      flex-wrap: initial;
    }
  }
  @media all and (max-width: 600px) {
   #nav {
    background-color: rgba(255, 255, 255, 0.01);
    position: relative;
    top: -80px;
  }

  .flex-nav ul {
    flex-wrap: wrap;
    column-count: 3;
  }
}



</style>

<div class="container" style="background: white;">


  <section class="clearfix pageTitleAreaApropos" style="background-image: url(img/blog/Photo1.jpg);">

    <div class="pageTitle">
      <div class="secotionTitle">
        <h2 class="policeBaniere"><span>Cocooning Spa, <br>le bien-être à domicile en un clic !</span><em class="titlePartner">Apprenez-en plus sur nous</em></h2>
      </div>
      <div class="textAccroche">

        On ne se connaît pas encore ? Laissez-nous vous présenter notre solution pour les personnes intéressées par des prestations de bien-être à domicile
      </div>
    </div>

  </section>
  <section class="clearfix reviewSection">

    <div class="wrapper">
      <nav class="flex-nav" id="nav">
        <ul>
          <li><a href="#">Qui sommes-nous ?</a></li>
          <li><a href="#">Notre but & nos projets</a></li>
          <li><a href="#">Notre communauté</a></li>
          <li><a href="#">Rejoignez-nous</a></li>
          <li><a href="#">Zone d'action</a></li>
          <li><a href="#">Contactez-nous</a></li>
        </ul>
      </nav>
    </div>
  </section>


  <!-- ABOUT SECTION -->
  <section class="container-fluid clearfix aboutSection" >
    <div class="secotionTitle">
      <h2 class="police_massage"><span>A propos de nous</span></h2>
    </div>
    <div class="aboutInner">
      <div class="sepcialContainer">
        <div class="row">
          <div class="col-sm-6 col-xs-12 rightPadding">
            <div class="imagebox ">
              <img src="img/home/Photo3.png" alt="Image About" class="img-responsive">
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="aboutInfo">
              <h2>Nous révolutionnons l’univers du bien-être</h2>
              <p>
                Notre jeune start-up française a été lancé en 2016, nous sommes des pionniers dans la location de spa/jacuzzi à domicile et bénéficions d’une forte expérience dans les prestations de massage à domicile. Nous entendons bien, à travers ce concept totalement novateur, révolutionner l’univers du bien-être. En quelques clics, il est désormais possible de réserver le massage de son choix à domicile (redirection vers page de réservation) ou une location de spa/jacuzzi à domicile (redirection vers page de réservation), si besoin dans l’heure et à un prix tout-à-fait accessible. Mais le vrai avantage est que vous n’avez plus besoin de vous déplacer et de perdre votre temps ! Et oui, c’est nous qui venons à vous, et non l’inverse !
              </p>

              <h2>Une plateforme web au service de votre détente</h2>
              <p>Cocooning Spa surfe sur une nouvelle tendance de consommation, celle du plaisir immédiat et sans restriction. Nous vous proposons une plateforme web avec un astucieux système de réservation par lequel vous pouvez commander en quelques secondes une prestation de bien-être à domicile, sur le lieu de son choix et au moment voulu. Une flexibilité sans pareil ! Notre plateforme bénéficie à la fois aux professionnels et aux clients.
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



</div>

