<style>
    .police_massage{

  font-family: Jazz LET, fantasy;
  z-index: -4;
}
</style>




<!-- PAGE TITLE SECTION -->
    <section class="clearfix pageTitleArea" style="background-image: url(/img/blog/pageTitle-bg.jpg);">
        <div class="container">
	        <div class="pageTitle">
	            <h1>cocooning</h1>
	        </div>
        </div>
    </section>

<!-- ABOUT SECTION -->
    <section class="container-fluid clearfix aboutSection patternbg" >
      <div class="aboutInner">
        <div class="sepcialContainer">
          <div class="row">
            <div class="col-sm-6 col-xs-12 rightPadding">
              <div class="imagebox ">
                <img src="img/home/home-about.jpg" alt="Image About" class="img-responsive">
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="aboutInfo">
                <h2>Angel luxury spa resort</h2>
                <h3>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
                  trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat  cupidatat non proident.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- REVIEW SECTION -->
    <section class="clearfix reviewSection patternbg">
      <div class="container">
        <div class="secotionTitle">
          <h2 class="police_massage"><span>A propos</span>de nous</h2>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-sm-9 col-sm-offset-3 col-xs-12 reviewInner">
                <div class="reviewImage hidden-xs">
                  <img src="img/home/testimonial-1.jpg" alt="Image review" class="img-responsive">
                </div>
                <div class="reviewInfo">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam co laboris nisi ut aliquip ex ea commodo conse quat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                    <h3>Linda Smith</h3>
                    <h4>Founder, Angel Beauty Spa</h4>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-sm-9 col-sm-offset-3 col-xs-12 reviewInner">
                <div class="reviewImage hidden-xs">
                  <img src="img/home/testimonial-2.jpg" alt="Image review" class="img-responsive">
                </div>
                <div class="reviewInfo">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam co laboris nisi ut aliquip ex ea commodo conse quat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                    <h3>Linda Smith</h3>
                    <h4>Founder, Angel Beauty Spa</h4>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <!-- EXPERT SECTION -->
    <section class="clearfix expertSection">
      <div class="container">
        <div class="secotionTitle">
          <h2 class="police_massage"><span>Contacter </span>Nos experts</h2>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div id="thubmnailTeamSlider" class="carousel slide thumbnailCarousel">

              <ol class="carousel-indicators">
                <li data-target="#thubmnailTeamSlider" data-slide-to="0" class="active"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="1"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="2"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="3"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="4"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="5"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="6"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="7"></li>
              </ol>

              <!-- Carousel items -->
              <div class="carousel-inner">

                <div class="item active">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-1.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-2.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-3.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-4.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-1.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-2.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-3.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-4.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <a class="left carousel-control" href="#thubmnailTeamSlider" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#thubmnailTeamSlider" data-slide="next">›</a>
            </div>
          </div>
        </div>
      </div>
    </section>