
<style>


  .police_massage{

    font-family: Jazz LET, fantasy;
    z-index: -4;
  }
  @media (min-width: 992px){
    .h1 {
      font-size: 55px;
      line-height: 55px;
      margin: 0 0 10px;
    }
    .poli2{
     
     font-family:Georgia, serif!important;
     text-align: left !important;
     
     
   } 
   .police_spa{
    
    font-family: Jazz LET, fantasy!important;
    z-index: -4;
  }
}
@media (min-width: 768px){
  .h1 {
    font-size: 50px;
    line-height: 50px;
    margin: 0 0 10px;
  }
  .poli2{
   
   font-family:Georgia, serif!important;
   text-align: left !important;
   color:black!important ;
 }
 
 .poli2 b{
   
   font-family:Brush Script MT, Brush Script Std, cursive!important;
   text-align: left !important;
   color:black!important ;
   font-size: 30px;
   
 }
 .police_spa{
  
  font-family: Jazz LET, fantasy!important;
  z-index: -4;
}
}

@media (min-width: 320px){
  .h1 {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    
  }
  
  .poli2{
   
   font-family:Georgia, serif!important;
   text-align: left !important;
   margin-bottom:1px !important;
   
 }
 
 .police_spa{
  
  font-family: Jazz LET, fantasy!important;
  z-index: -4;
}
}

</style>


<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/spa.css">
<!-- accroche général-->
<section class="clearfix pageTitleArea" style="background-image: url(img/blog/service3.jpg);">
  <div class="container">
    <div class="pageTitle">
      <h1 class="from-bottom poli2">Services</h1><br>
      <span class="description-service poli2"><b>T</b>he real place of Mindfullness & Healthy body</span><br>
    </div>
    <%= link_to "Découvrir", reservation_path('massage-domicile'), class:"btn btn-primary massage-btn" %>
    <%= link_to "Réserver", reservation_path('massage-domicile'), class:"btn btn-primary massage-btn" %>

  </div>
</section>
<!-- SERVICES SECTION -->
<section class="clearfix reviewSection patternbg">
  <div class="container">
    <div class="secotionTitle">
      <h2 class="police_massage"><span>Nos Services</span>Concept</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-sm-9 col-sm-offset-3 col-xs-12 reviewInner">
            <div class="reviewImage hidden-xs">
              <img src="img/home/offer-2.jpg" alt="Image review" class="img-responsive" alt="Massage">
            </div>
            <div class="reviewInfo">
              <center><i class="fa fa-quote-left" aria-hidden="true"> Massage</i></center>
              <p>Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam co laboris nisi ut aliquip ex ea commodo conse quat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
              <div class="a-btn">
               <%= link_to "Massage à domicile", reservation_path('massage-domicile'), class:"btn btn-primary first-btn mass text-btn" %>

             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="col-sm-6 col-xs-12">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-xs-12 reviewInner">
          <div class="reviewImage hidden-xs">
            <img src="img/home/home-about.jpg" alt="Image review" class="img-responsive">
          </div>
          <div class="reviewInfo">
            <center><i class="fa fa-quote-left" aria-hidden="true"> Location Spa</i></center>
            <p>Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam co laboris nisi ut aliquip ex ea commodo conse quat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
            <div class="a-btn">
             <%= link_to "Location spa à domicile", reservation_path('location-spa'), class:"btn btn-primary first-btn mass text-btn" %>

           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
</section>