 <section class="clearfix singleProduct">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="singleIamge">
              <img src="img/products/single-product.jpg" alt="Image Single Product" class="img-responsive">
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="singleProductInfo">
              <h2>Handmade Soap</h2>
              <h3>$50 <del>$50</del></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
              <div class="finalCart">
                <input type="number" value="1" min="1" max="999">
                <a href="cart.html" class="btn btn-primary"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Add to cart</a>
              </div>
              <ul class="list-inline category">
                <li>Categories:</li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Soap</a></li>
              </ul>
              <ul class="list-inline shareSocial">
                <li>Share:</li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="tabCommon tabOne singleTab">
              <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#details">Details</a></li>
                <li><a data-toggle="tab" href="#reviews">Reviews (2)</a></li>
              </ul>

              <div class="tab-content patternbg">
              <div id="details" class="tab-pane fade in active">
                  <h4>Product Description</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut per spici</p>
                  <ul class="list-inline">
                    <li><i class="fa fa-check" aria-hidden="true"></i>Vestibulum iaculis quam.</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>Vestibulum iaculis quam.</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>Quam ac libero volutpat placerat.</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>Quam ac libero volutpat placerat.</li>
                  </ul>
                </div>
                <div id="reviews" class="tab-pane fade">
                  <div class="blogCommnets">
                    <div class="media">
                      <a class="media-left" href="#">
                        <img class="media-object" src="img/blog/user-1.jpg" alt="Image">
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Integer blandit</h4>
                        <h5><span><i class="fa fa-calendar" aria-hidden="true"></i>22 September, 2016</span></h5>
                        <p>Reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        <button class="btn btn-link">Reply</button>
                      </div>
                    </div>
                    <div class="media mediaMargin">
                      <a class="media-left" href="#">
                        <img class="media-object" src="img/blog/user-2.jpg" alt="Image">
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Integer blandit</h4>
                        <h5><span><i class="fa fa-calendar" aria-hidden="true"></i>22 September, 2016</span></h5>
                        <p>Reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        <button class="btn btn-link">Reply</button>
                      </div>
                    </div>
                    <div class="media">
                      <a class="media-left" href="#">
                        <img class="media-object" src="img/blog/user-3.jpg" alt="Image">
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Integer blandit</h4>
                        <h5><span><i class="fa fa-calendar" aria-hidden="true"></i>22 September, 2016</span></h5>
                        <p>Reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        <button type="button" class="btn btn-link">Reply</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="relatedTitle">
              <h2>Related Products</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="#" class="realatedInner">
              <div class="productBox">
                <img src="img/products/related-product-1.jpg" alt="Image Product" class="img-responsive">
              </div>
              <div class="productName">Oil Set</div>
              <div class="productPrice">$15</div>
            </a>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="#" class="realatedInner">
              <div class="productBox">
                <img src="img/products/related-product-2.jpg" alt="Image Product" class="img-responsive">
              </div>
              <div class="productName">Herbal Body Cream</div>
              <div class="productPrice">$50</div>
            </a>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="#" class="realatedInner">
              <div class="productBox">
                <img src="img/products/related-product-3.jpg" alt="Image Product" class="img-responsive">
              </div>
              <div class="productName">Flying Ninja</div>
              <div class="productPrice">$75</div>
            </a>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="#" class="realatedInner">
              <div class="productBox">
                <img src="img/products/related-product-4.jpg" alt="Image Product" class="img-responsive">
              </div>
              <div class="productName">Ninja Silhouette</div>
              <div class="productPrice">$35</div>
            </a>
          </div>
        </div>
      </div>
    </section>