  <!-- media query -->
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
.liPrix{
      text-align: left;
      margin-left: 15px;
    }

    .innerWrapper .table-responsive {
      overflow-x: scroll;
      width: 610px;
    }
    .button {
      background-color: #EC5598; /* Green */
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button1 {padding: 10px 24px;}

    .innerWrapper {
      margin-left: -33px;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    #service{
      max-width: 580px;
      overflow: hidden;
    }
    .liPrix{
      text-align: left;
      margin-left: 15px;
    }

    .innerWrapper .table-responsive {
      overflow-x: scroll;
      width: 610px;
    }
    .button {
      background-color: #EC5598; /* Green */
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button1 {padding: 10px 24px;}

    .innerWrapper {
      margin-left: -33px;
    }


  .page{
    max-width: 60em;
    margin: 0 auto;
  }
  table th,
  table td{
    text-align: left;
  }
  table.layout{
    width: 90%;
    border-collapse: collapse;
  }
  table.display{
    margin: 1em 0;
  }
  table.display th,
  table.display td{
    border: 1px solid #B3BFAA;
    padding: .5em 1em;
  }

  table.display th{ background: #D5E0CC; }
  table.display td{ background: #fff; }

  table.responsive-table{
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }

  }



  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    #service{
      max-width: 1200px !important;
      overflow: hidden;
      text-align: center;
    }

        #service span{

      text-align: center;
    }
    .liPrix{
      text-align: left;
      margin-left: 15px;
    }

    .innerWrapper .table-responsive {
      overflow-x: scroll;
      width: 1100px;
    }
    .button {
      background-color: #EC5598; /* Green */
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    .innerWrapper {
      margin-left: 0px !important;
    }
    .button1 {padding: 10px 24px;}


  .page{
    max-width: 60em;
    margin: 0 auto;
  }
  table th,
  table td{
    text-align: left;
  }
  table.layout{
    width: 100%;
    border-collapse: collapse;
  }
  table.display{
    margin: 1em 0;
  }
  table.display th,
  table.display td{
    border: 1px solid #B3BFAA;
    padding: .5em 1em;
  }

  table.display th{ background: #D5E0CC; }
  table.display td{ background: #fff; }

  table.responsive-table{
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }

  }



  .action a{
    color: white;
    font-weight: bold;
  }



    /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
.liPrix{
      text-align: left;
      margin-left: 15px;
    }

    .innerWrapper .table-responsive {
      overflow-x: scroll;
      width: 41%;
    }
    .button {
      background-color: #EC5598; /* Green */
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button1 {padding: 10px 24px;}

    .innerWrapper {
      margin-left: -33px;
    }

   .entete-table{
text-align: left !important;
margin-left: 13%;
padding-top: 20px;
    }

  .title-responsive{
overflow: hidden;
max-width: 300px;
text-align: center;
  }


  .page{
    width: 298px;
    margin: 0 auto;
position: relative;
left: -220px;
overflow: scroll;
  }
  table th,
  table td{
    text-align: left;
  }
  table.layout{
    width: 100%;
    border-collapse: collapse;
  }
  table.display{
    margin: 1em 0;
  }
  table.display th,
  table.display td{
    border: 1px solid #B3BFAA;
    padding: .5em 1em;
  }

  table.display th{ background: #D5E0CC; }
  table.display td{ background: #fff; }

  table.responsive-table{
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }
  }