

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .download{
    position: relative;
    top: -50px;
    left:1%;
  }
  .download a{
    font-style: italic;
  }
  .secotionTitle h2 span{
    font-size: 25px !important;
  }

  .accordion {
    font-size: 1rem;
    width: 111% !important;
    margin: 0 auto;
    border-radius: 5px;
    background: white;
    margin-left: -16px;
  }

  .accordion-header,
  .accordion-body {
    background: white;
  }

  .accordion-header {
    padding: 1.5em 1.5em;
    background: #ec5598;
    color: white;
    cursor: pointer;
    font-size: large;
    letter-spacing: .1em;
    transition: all .3s;
    text-transform: uppercase;
    margin-top:20px;
    border-radius: 10px;
  }

  .accordion__item {
    border-bottom: 1px solid white;
  }

  .accordion__item .accordion__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  .accordion-header:hover {
    background: deeppink;
    position: relative;
    z-index: 5;
  }

  .accordion-body {
    background:#fcfcfc;
    color:#353535;
    display: none;
    position: relative;
    top: 20px;
    margin-bottom: 20px;

    font-size: 14px;
    text-align: justify;
    line-height: 2em;
  }

  .accordion-body__contents {
    padding: 1.5em 1.5em;
    font-size: .85em;
  }

  .accordion__item.active:last-child .accordion-header {
    border-radius: none;
  }

  .accordion:first-child > .accordion__item > .accordion-header {
    border-bottom: 1px solid transparent;
    width: 111%;
    border-radius: 10px;
  }
  .accordeon-title{
    position: relative;
    font-size: 10px;
  }
  .accordion__item>.accordion-header:after {
    font-family: FontAwesome;
    font-size: 1.2em;
    float: right;
    position: relative;
    top: -2px;
    transition: .3s all;
    transform: rotate(0deg);
    content: "\f103";
  }

  .accordion__item.active > .accordion-header:after {
    transform: rotate(-180deg);
  }

  .accordion__item.active .accordion-header {
    background: deeppink;
  }

  .accordion__item .accordion__item .accordion-header {
    background: white;
    color: #353535;
  }

  @media screen and (max-width: 1000px) {
    body {
      padding: 1em;
    }

    .accordion {
      width: 100%;
    }
  }


  .allfaq{
    padding-top: 20px;
    margin-bottom: 100px;
  }

  .li-cgu{
    margin-left: 50px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .download{
    position: relative;
    top: -50px;
    left:3%;
  }
  .download a{
    font-style: italic;
  }
  .secotionTitle h2 span{
    font-size: 35px !important;
  }
  .accordion {
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    background: white;
    margin-left: -16px;
  }

  .accordion-header,
  .accordion-body {
    background: white;
  }

  .accordion-header {
    padding: 1.5em 1.5em;
    background: #ec5598;
    color: white;
    cursor: pointer;
    font-size: large;
    letter-spacing: .1em;
    transition: all .3s;
    text-transform: uppercase;
    margin-top:20px;
    border-radius: 10px;
  }

  .accordion__item {
    border-bottom: 1px solid white;
  }

  .accordion__item .accordion__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  .accordion-header:hover {
    background: deeppink;
    position: relative;
    z-index: 5;
  }

  .accordion-body {
    background:#fcfcfc;
    color:#353535;
    display: none;
    position: relative;
    left: 50px;
    top: 20px;
    margin-bottom: 20px;
    width: 92%;
    font-size: 14px;
    text-align: justify;
    line-height: 2em;
  }

  .accordion-body__contents {
    padding: 1.5em 1.5em;
    font-size: .85em;
  }

  .accordion__item.active:last-child .accordion-header {
    border-radius: none;
  }

  .accordion:first-child > .accordion__item > .accordion-header {
    border-bottom: 1px solid transparent;
    height: 50px;
    border-radius: 10px;
  }
  .accordeon-title{
    position: relative;
    top: 1px;
    font-size: 15px;
  }
  .accordion__item>.accordion-header:after {
    font-family: FontAwesome;
    font-size: 1.2em;
    float: right;
    position: relative;
    top: -2px;
    transition: .3s all;
    transform: rotate(0deg);
    content: "\f103";
  }

  .accordion__item.active > .accordion-header:after {
    transform: rotate(-180deg);
  }

  .accordion__item.active .accordion-header {
    background: deeppink;
  }

  .accordion__item .accordion__item .accordion-header {
    background: white;
    color: #353535;
  }

  @media screen and (max-width: 1000px) {
    body {
      padding: 1em;
    }

    .accordion {
      width: 103%;
    }
  }


  .allfaq{
    padding-top: 20px;
    margin-bottom: 100px;
  }

  .li-cgu{
    margin-left: 50px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .download{
    position: relative;
    top: -50px;
    left:30%;
  }
  .download a{
    font-style: italic;
  }

  .accordion {
    font-size: 1rem;
    width: 100%;
    margin: 1px !important;
    border-radius: 5px;
    background: white;
    margin-left: -16px;
  }

  .accordion-header,
  .accordion-body {
    background: white;
  }

  .accordion-header {
    padding: 1.5em 1.5em;
    background: #ec5598;
    color: white;
    cursor: pointer;
    font-size: large;
    letter-spacing: .1em;
    transition: all .3s;
    text-transform: uppercase;
    margin-top:20px;
    border-radius: 10px;
  }

  .accordion__item {
    border-bottom: 1px solid white;
  }

  .accordion__item .accordion__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  .accordion-header:hover {
    background: deeppink;
    position: relative;
    z-index: 5;
  }

  .accordion-body {
    background:#fcfcfc;
    color:#353535;
    display: none;
    position: relative;
    left: 50px;
    top: 20px;
    margin-bottom: 20px;
    width: 92%;
    font-size: 14px;
    text-align: justify;
    line-height: 2em;
    letter-spacing: 1px;
font-size: 17px !important;
  }

  .accordion-body__contents {
    padding: 1.5em 1.5em;
    font-size: .85em;
  }

  .accordion__item.active:last-child .accordion-header {
    border-radius: none;
  }

  .accordion:first-child > .accordion__item > .accordion-header {
    border-bottom: 1px solid transparent;
    height: 50px;
    border-radius: 10px;
  }
  .accordeon-title{
    position: relative;
    top: 2px;
  }
  .accordion__item>.accordion-header:after {
    font-family: FontAwesome;
    font-size: 1.2em;
    float: right;
    position: relative;
    top: -2px;
    transition: .3s all;
    transform: rotate(0deg);
    content: "\f103";
  }

  .accordion__item.active > .accordion-header:after {
    transform: rotate(-180deg);
  }

  .accordion__item.active .accordion-header {
    background: deeppink;
  }

  .accordion__item .accordion__item .accordion-header {
    background: white;
    color: #353535;
  }

  @media screen and (max-width: 1000px) {
    body {
      padding: 1em;
    }

    .accordion {
      width: 100%;
    }
  }


  .allfaq{
    padding-top: 20px;
    margin-bottom: 100px;
  }

  .li-cgu{
    margin-left: 50px;
    letter-spacing: 1px;
font-size: 17px !important;
  }

}