

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {.phone{
	background: white;
	width: 100%;
	margin-top: 50px;
}
.phonetext{
	position: relative;
	top: -45px;
	left: 75px;
}
.fatext{
	position:relative;
left: 5%;
	top: 10px;
	width: 200px;
}
.zone{
	position: relative;
	top: -36px;
	left: 100px;
	width: 200px;
}
.zone1{
	position: relative;
	top: 0px;
	left: 5px;
	width: 100%;
}

.firstlabel{
	margin-top: 14px;
}

.textearea{
	width:80%;
	margin-left:25px;
}
.texteareabutton{
	position: relative;
	left: 120px;
	bottom: 10px;
	background: #ec5598;
	padding: 8px;
	color:white;
	font-weight: bold; 

}}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.phone{
	background: white;
	width: 100%;
	margin-top: 50px;
}
.phonetext{
	position: relative;
	top: -45px;
	left: 100px;
	letter-spacing: 3px;
}
.fatext{
	position:relative;
	left: 33%;
	top: 10px;
	width: 300px;
}
.zone{
	position: relative;
	top: -36px;
	left: 100px;
	width: 200px;
}
.zone1{
	position: relative;
	top: -36px;
	left: 150px;
}

.firstlabel{
	margin-top: 30px;
}

.textearea{
	width:80%;
}
.texteareabutton{
	position: relative;
	left: 20px;
	top: 100px;
	background: #ec5598;
	padding: 8px;
	color:white;
	font-weight: bold; 
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.phone{
	background: white;
	width: 100%;
	margin-top: 50px;
}
.phonetext{
	position: relative;
	top: -45px;
	left: 150px;
	letter-spacing: 3px;
}
.fatext{
	position:relative;
	left: 33%;
	top: 10px;
	width: 300px;
}
.zone{
	position: relative;
	top: -36px;
	left: 100px;
	width: 400px;
}
.zone1{
	position: relative;
	top: -36px;
	left: 150px;
}

.firstlabel{
	margin-top: 30px;
}

.textearea{
	width:90%;
}
.texteareabutton{
	position: relative;
	left: 40px;
	top: 100px;
	background: #ec5598;
	padding: 8px;
	color:white;
	font-weight: bold; 
}}


