.container {
	background: white;
}

<!-- media query -->

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.small_label{
		position: relative;
		left: -15px;
		top: 12px;
		font-size: 1em;
		font-weight: 40;
		letter-spacing: 1.2px;
	}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


	.small_label{
		position: relative;
		left: 0px;
		top: 12px;
		font-size: 1.2em;
		font-weight: 40;
		letter-spacing: 1.2px;
	}
	.input{
		position: absolute;
		left: 210px;
		font-size: 1.2em;
		font-weight: 40;
		text-align: justify;
		letter-spacing: 1.2px;
		width: 50%;
	}

	.pays_label{
		position: relative;
		left: 10px;
		top: 12px;
		font-size: 1em;
		font-weight: 40;
		letter-spacing: 1.2px;
	}

	.small_textarea{
		width: 430px;
		margin-left: -20px;
		border-radius: 5px;
		border: 1px solid #ddd;
		font-size: 1.2em;
		font-weight: 40;

	}
	.messages{
		background:white;
		position: relative;
		top: 15px;
		left: -10px;
	}
	.paysList:checked + label,
	.paysList:not(:checked) + label
	{
		position: relative;
		padding-left: 20px;
		cursor: pointer;
		line-height: 20px;
		display: inline-block;
		color: #666;
		margin-right: 5px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

	.small_label{
		position: relative;
		left: 60px;
		top: 12px;
		font-size: 1.2em;
		font-weight: 40;
		letter-spacing: 1.2px;
	}
	.input{
		position: absolute;
		left: 330px;
		font-size: 1.2em;
		font-weight: 40;
		text-align: justify;
		letter-spacing: 1.2px;
		width: 50%;
	}

	.pays_label{
		position: relative;
		left: 180px;
		top: 12px;
		font-size: 1em;
		font-weight: 40;
		letter-spacing: 1.2px;
	}

	.small_textarea{
		width: 600px;
		margin-left: 45px;
		border-radius: 5px;
		border: 1px solid #ddd;
		font-size: 1.2em;
		font-weight: 40;

	}
	.messages{
		background:white;
		position: relative;
		top: 1px;
		left: 50px;
	}

	.paysList:checked + label,
	.paysList:not(:checked) + label
	{
		position: relative;
		padding-left: 28px;
		cursor: pointer;
		line-height: 20px;
		display: inline-block;
		color: #666;
		margin-right: 30px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	.small_label{
		position: relative;
		left: 170px;
		top: 5px;
		font-size: 1.2em;
		font-weight: 40;
		letter-spacing: 1.2px;
	}
	.input{
		position: absolute;
		left: 400px;
		font-size: 1.2em;
		font-weight: 40;
		text-align: justify;
		letter-spacing: 1.2px;
		width: 50%;
	}
	.pays_label{
		position: relative;
		left: 420px;
		top: 12px;
		font-size: 1em;
		font-weight: 40;
		letter-spacing: 1.2px;
	}

	.small_textarea{
		width: 800px;
		margin-left: 45px;
		border-radius: 5px;
		border: 1px solid #ddd;
		font-size: 1.2em;
		font-weight: 40;

	}

	.messages{
		background:white;
		position: relative;
		top: -225px;
		left: 170px;
	}

	.paysList:checked + label,
	.paysList:not(:checked) + label
	{
		position: relative;
		padding-left: 28px;
		cursor: pointer;
		line-height: 20px;
		display: inline-block;
		color: #666;
		margin-right: 30px;
	}

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.btn-resa {
		position: relative;
		left: 33% !important;
	}
	.small_label{
		position: relative;
		left: 0px;
		top: 12px;
		font-size: 1em;
		font-weight: 40;
		letter-spacing: 1.2px;
	}
	.input{
		position: relative;
		left: 0%;
		font-size: 1.2em;
		font-weight: 40;
		text-align: justify;
		letter-spacing: 1.2px;
		width: 100%;
		height: 35px;
		top: 22px;
		border: solid 1px #bcbcbc;
		border-radius: 5px;
		padding-left: 5px;
	}


	.pays_label{
		position: relative;
		left: 10px;
		top: 12px;
		font-size: 1em;
		font-weight: 40;
		letter-spacing: 1.2px;
	}

	.small_textarea{
		width: 340px;
		margin-left: -20px;
		border-radius: 5px;
		border: 1px solid #ddd;
		font-size: 1.2em;
		font-weight: 40;

	}
	.messages{
		background:white;
		position: relative;
		top: 15px;
		left: -10px;
	}
	.paysList:checked + label,
	.paysList:not(:checked) + label
	{
		position: relative;
		padding-left: 20px;
		cursor: pointer;
		line-height: 20px;
		display: flex;
		color: #666;
		margin-left: 50px;
		top: -10px;
	}

}

.livraison{
	margin-top: 75px;
}

.adresseTitle{
	font-family: Quicksand, "Open Sans";
	font-weight: bold;
	color: #ec5598;

}

.adresseTitleFac{
	margin-left: 50px;
}



.inline-form{
	margin-bottom: 25px;
}

.paysList{
	position: relative;
}

/*Radio praticien*/
.paysList:checked,
.paysList:not(:checked) {
	position: absolute;
	left: -9999px;
}

.paysList:checked + label:before,
.paysList:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid black;
	border-radius: 100%;
	background: #fff;
}
.paysList:checked + label:after,
.paysList:not(:checked) + label:after {
	content: '';
	width: 10px;
	height: 10px;
	background: #F87DA9;
	position: absolute;
	top: 4px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.paysList:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.paysList:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


.btn-resa-text{
	border-radius: 100px;
}
.btn-resa{
	position: relative;
	left: 50%;
	top: 20px;
	font-family: Quicksand, 'Open Sans', sans-serif !important;
	width: 30%;
	margin-bottom: 100px;
	margin-top: 20px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 

	.messages {
		background: 
		white;
		position: relative;
		top: 0px;
		left: 50px;
	}

	.small_label {
		position: relative;
		left: 80px;

	}

	.paysList:checked + label, .paysList:not(:checked) + label {
		position: relative;
		padding-left: 28px;
		cursor: pointer;
		line-height: 20px;
		display: inline-block;
		color: 
		#666;
		margin-right: 20px;

		margin-left: -15px;
	}
}

.small_textarea{
	padding: 10px;
}