<!-- media query -->
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.form-control {
    height: 43px;
    box-shadow: none;
    border-radius: 0;
    padding-left: 18px;
    border-color: 
#dedede;
color:
    #666666;
    margin-left: 10px;
    border-radius: 8px;
    width: 100%;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.btn-block {
    display: block;
    width: 200px !important;
    border-radius: 100px;
}
.form-control {
    height: 43px;
    box-shadow: none;
    border-radius: 0;
    padding-left: 18px;
    border-color: 
#dedede;
color:
    #666666;
    margin-left: 10px;
    border-radius: 8px;
    width: 100%;
}

.inscript {
    margin-left: 0px;
}
.panel-login, .panel-body-login {
    width: 400px !important;
}

.a-descendre {
margin-top: 120px;
position: relative;
left: 50px;
width: 300px;
}
.btn-common {
    margin: 0;
    padding: 14px !important;
    font-size: 9px;
    border-radius: 100px;
    margin-left: 60px;
}
.formPart .panel-body {
    padding: 20px !important;
    border: 1px solid 
    #dedede;
        border-top-color: rgb(222, 222, 222);
        border-top-style: solid;
        border-top-width: 1px;
    border-top: none;
}
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.form-control {
    height: 43px;
    box-shadow: none;
    border-radius: 0;
    padding-left: 18px;
    border-color: 
#dedede;
color:
    #666666;
    margin-left: 10px;
    border-radius: 8px;
    width: 100%;
}
.inscript {
    margin-left: 150px;
}
}

