
.container{
background: white;
}

/* ===================MODAL==================== */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
/*  font-size: 50px;*/
 
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
/* ==================ACCORDEON================= */

.accordion {
  font-size: 1rem;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  background: white;
  margin-bottom: 20px;
}

.accordion-header,
.accordion-body {
  background: white;
}

.accordion-header {
  padding: 1.5em 1.5em;
  background: #ec5598;
  color: white;
  cursor: pointer;
  font-size: x-large;
  letter-spacing: .1em;
  transition: all .3s;
  text-transform: uppercase;
  margin-top:20px;
  font-family: Lato, "Open Sans";
  font-weight: bold;
}

.accordion__item {
    border-bottom: 1px solid white;
}

.accordion__item .accordion__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.accordion-header:hover {
  background: deeppink;
  position: relative;
  z-index: 5;
}

.accordion-body {
  background: #fcfcfc;
  color: #353535;
  display: none;
}

.accordion-body__contents {
  padding: 1.5em 1.5em;
  font-size: .85em;
}

.accordion__item.active:last-child .accordion-header {
  border-radius: none;
}

.accordion:first-child > .accordion__item > .accordion-header {
  border-bottom: 1px solid transparent;
}

.accordion__item>.accordion-header:after {
font-family: FontAwesome;
font-size: 1.2em;
float: right;
position: relative;
top: -2px;
transition: .3s all;
transform: rotate(0deg);
content: "\f103";
}

.accordion__item.active > .accordion-header:after {
  transform: rotate(-180deg);
}

.accordion__item.active .accordion-header {
  background: deeppink;
}

.accordion__item .accordion__item .accordion-header {
  background: white;
  color: #353535;
}

@media screen and (max-width: 1000px) {
  body {
    padding: 1em;
  }
  
  .accordion {
    width: 100%;
  }
}


.allfaq{
padding-top: 100px;
margin-bottom: 100px;
position: relative;
left: -15px;
}


/* ==================custom================= */
.set-zones{
background: deeppink;
opacity: 0.8;
padding: 50px;
border-radius: 8px;
}
.dateSelect .calendar-icone {
background-color: white;
border-color:#dedede;
border-radius: 8px;
}

.labelle{
position:relative;
left:100px;
margin-bottom: 20px;
}

.field{
position: absolute;
left: 240px;
width: 140px;
margin-top: -1.6px;
border-radius: 5px;
text-align: center;
}
.input-calendar{
position: relative;
display: table;
border-collapse: separate;
left: 180px;
width: 150px;
top: -51px;
}
.select-date{
margin-right: 4%;
height: 25px !important;
}
.je-valide{
position: relative;
left: 40.8%;
}


.image-produit{
width: 100px;
height: 100px;
}


.innerWrapper .table-responsive .table thead tr th:last-child {
    border: none;
    height: 100px;
    font-size: x-large;
}



.p-resa-spa{
letter-spacing: 2px;
font-family: Lato, "Open Sans";
font-size: large;
font-weight: bold;
}
#number-spa{
color: #ec5598;
padding: 5px;
}
#add-spa, #remove-spa{
color: #ec5598;
font-size: x-large;
}
.interligne{
margin-top: 15px !important;
border-top: 2px solid #eee !important;
}

#spa-input{
letter-spacing: 2px;
}







/* hide input */
input.time-spa-list:empty {
  margin-left: -999px;
}

/* style label */
input.time-spa-list:empty ~ label {
  float: left;
  line-height: 2.5em;
  text-indent: 3.25em;
  /*margin-top: 2em;*/
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.time-spa-list:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  
}

/* toggle hover */
input.time-spa-list:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

input.time-spa-list:hover:not(:checked) ~ label {
  color: #ec5598;
}

/* toggle on */
input.time-spa-list:checked ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #9CE2AE;
  background-color: #ec5598;
}

input.time-spa-list:checked ~ label {
  color: #777;
}

/* time-spa-list focus */
input.time-spa-list:focus ~ label:before {
  box-shadow: 0 0 0 3px none;
}

.time-spa-list{
   width: 30px;
}

.duree-spa{
position: relative;
margin-bottom: 10px;
margin-right: 10px;
left: 180px;
font-size: small;
}

.label-spa {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 700;
    position :relative;
}

.option-spa-list{
position: absolute;
left: 100px;

}

.label-option-spa{
position: relative;
left: 150px;
font-size: small;
}