
/* DEBUT CSS POUR LE BOUTTON TOGGLE*/
/* for the lazy */
@import url(https://fonts.googleapis.com/css?family=Sanchez);

*,
*::before,
*::after {
 transition: 400ms all ease-in-out 50ms;
 box-sizing: border-box;
 backface-visibility: hidden;
}


input[type="checkbox"] {
 display: none;
}
/*Button is :CHECKED*/

input[type="checkbox"]:checked ~ .togggle {
 background:#ec5598;
 box-shadow: 0 0 2px #ec5598;
}

input[type="checkbox"]:checked ~ .togggle label {
 left: 25px;
 transform: rotate(360deg);
}


/*shared*/

.togggle,
label {
 border-radius: 50px;
}


/*'un':checked state*/

.togggle {
 height: 25px;
 width: 50px;
 background: rgb(211, 207, 207);
 position: relative;
 top: -22px;
 left: 300px;

 
 box-shadow: 0 0 2px rgb(211, 207, 207);
 
}

label {
 height: 20px;
 width: 20px;
 background: rgba(255, 255, 255, 1);
 position: absolute;
 top: 3px;
 left: 5px;
 cursor: pointer;
}

label::before {
 content: '';
 height: 17px;
 width: 5px;
 position: absolute;
 top: calc(50% - 8px);
 left: calc(50% - 3.5px);
 transform: rotate(45deg);
 font-size: 1px;
}

label::after {
 content: '';
 height: 5px;
 width: 17px;
 position: absolute;
 top: calc(50% - 2px);
 left: calc(50% - 8px);
 transform: rotate(45deg);
}

label::before,
label::after{
 background: rgb(211, 207, 207);
 border-radius: 5px;
}

/* pesduo class on toggle */

input[type="checkbox"]:checked ~ .togggle label::before{
 height: 15px;
 top: calc(55% - 10px);
 left: calc(60% - 0px);
 background: #ec5598;
}
input[type="checkbox"]:checked ~ .togggle label::after{
 width: 10px;
 top: calc(95% - 10px);
 left: calc(22.5% - 3px);
 background: #ec5598;
}

/* FIN CSS POUR LE BOUTTON TOGGLE*/

