
@media only screen and (min-width: 992px) {
	.section-index1{
		margin-top: -30px !important;
	}

		.section-index2{
		margin-top: 0px !important;
	}
			.section-index3{
		margin-top: -15px !important;
	}

.section-massage1{
margin-top: 0px !important;
}
.section-massage2{
margin-top: -60px !important;
}
.section-massage3{
margin-top: -20px !important;
}
























}