#first-btn{
    color:white;
    margin-right: 10px;
 }

 #first-btn:hover, .first-btn:hover {
    background-color: magenta !important;
    color: mediumblue;
  }
.evenement{
   font-size: 40px;
   position: relative;
   top: 50px;
   color: #ec5598;
}

/* page signup  signin*/
.btn-block {
   display: block;
   width: 50% !important;
}

@media (min-width: 768px) {
   .panel-login, .panel-body-login{
      width: 500px !important;
   }
 }
 @media (min-width: 480px) {
   .panel-login, .panel-body-login{
      width: 300px !important;
   }

 }
 @media (min-width: 320px) {
   .panel-login, .panel-body-login{
      width: 250px;
   }

 }

 /* section produit*/
 .productOption li a {
   width: 45px;
   height: 45px;
   line-height: 45px;
   text-align: center;
   border: 1px solid #ec5598;
   color: #cbc7e4;
   font-size: 17px;
   display: block;
}

.productCaption{
   position: relative;
   top: -50px;
}