#first-btn{
    color:white;
    margin-right: 10px;
 }

 #first-btn:hover, .first-btn:hover {
    background-color: magenta !important;
    color: mediumblue;
  }
.evenement{
   font-size: 40px;
   position: relative;
   top: 50px;
   color: #ec5598;
}

/* page signup  signin*/
.btn-block {
   display: block;
   width: 50% !important;
}

@media (min-width: 768px) {
   .panel-login, .panel-body-login{
      width: 500px !important;
   }
 }
 @media (min-width: 480px) {
   .panel-login, .panel-body-login{
      width: 300px !important;
   }

 }
 @media (min-width: 320px) {
   .panel-login, .panel-body-login{
      width: 250px;
   }

 }

 /* section produit*/
 .productOption li a {
   width: 45px;
   height: 45px;
   line-height: 45px;
   text-align: center;
   border: 1px solid #ec5598;
   color: #cbc7e4;
   font-size: 17px;
   display: block;
}
.productOption li a:hover {
color: #ec5598;
}
.productCaption{
   position: relative;
   top: -50px;
}
/* panier*/
/* #panier{
position: sticky;
right: 0px;
top: 10%;
} */
.panier-title{
   text-align: center;
}
#basket{
   margin-left: 15px;
}
.categ{
   margin-top: 20px;
   color: #ec5598;
   min-height: 175px;
   border: 3px #ec5598 ;
}
/* bouton_plus */
.addCateg{
   margin-right: 50px;
}
.bouton-plus-moin{
   color: #ec5598;
   text-align: center;
   display: inline-block;
font-size: 15px;

}
.prestation-info{
   border: 1px darkgrey solid;
}
.check{
   position: absolute;
   right: 100px;
}

.pageTitle .title-service {
   text-align: left;
   font-size: 55px;
   line-height: 60px;
   color:#ffffff;
   text-transform: uppercase;
   font-family: 'Raleway';
}
.pageTitle .description-service {
   padding-top: 50px;
   text-align: left;
   font-size: 15px;
   line-height: 15px;
   color:#ffffff;
   font-family: 'Raleway';
}
.massage-btn{
   position: relative;
   top: 20px;
   border-radius: 10px;
   margin-right: 15px;
}

.btn-moin{
   background-color: khaki;
   width: 50px;
   display: inline-block;
   border: 1px khaki solid;
   border-radius: 10px;
}