<br><br><br><br><br><br><br><br><br><br>
<h1>deniedOrder</h1>
<h2><%= @order_service.service_time %></h2>
<h2><%= @prestataire.first_name  %></h2>
<hr>
<%= flash[:no_refuse] %>
<hr>
<%= flash[:refuse] %>
<hr>
<br><br><br><br><br><br><br><br><br><br>
