<br><br><br><br><br><br><br><br><br><br>

<h1>Refuser une commande</h1>

<% if flash[:no_refuse] %>
<div class="alert alert-danger">
	"Pour annuler votre affectation a cette commande veiller contacer l'administrateur du site"
</div>
<% end %>

<% if flash[:refuse] %>
<div class="alert alert-success">
	"Votre refus a été pris en compte, nous reviendrons vers vous pour de nouvelles commandes."
</div>
<% end %>

<br><br><br><br><br><br><br><br><br><br>
