<!-- SUCCESS -->
<link href="/css/echec.css" rel="stylesheet">

<script type="text/javascript">
    sessionStorage.clear();
  </script>

<div class="padding confirmation">
<div class="container">

  <div class="alert alert-success alert-common alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <i class="fa fa-check"></i>
    Paiement validé !
  </div>

  <div class="confirms">
    <h2>Merci pour votre paiement</h2>
    Cocooning Spa vous remercie pour votre commande et vous souhaite de passer un agréable moment ! <br>
    À très vite. 
  </div>

</div>
</div>
