<h1>Recapitulatif de votre commande</h1>

<div>
	Prestation:<br>
	Produits:<br>
	Prix Total:<br>
	Accompte à régler en ligne:<br>
	Montant à régler sur place:(CB ou éspèces uniquement)<br>
	Adresse de facturation:<br>
	Adresse de livraison:<br>
	Infos complementaires:<br>
</div>

<div>
	<h2>IMPORTANT</h2>
	<p>Ce devis ne tient pas compte des éventuels frais de déplacement (pour les services spa/massage) qui pourrait vous etre facturés selon votre ville. Pour plus d'information veuillez nous contacter</p>
	<p>Les accomptes ne s'appliquent qu'aux services(Spa/massages). Pour les produits, le montant est réglé dans sa totalité en ligne</p>
</div>

<a href="#">Je finalise</a>