<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Un utilisateur a besoin d'aide ou besoin de plus d'information</h1>
    <p> À très vite sur monsite.fr !</p>
  </body>
</html>