<h1>Commande</h1>

<div class="alert">
	<h4><%= link_to "En cours", admin_order_index_path %></h4>
	<h4><%= link_to "Traitées", admin_order_filtre_index_path(1), class: " ", remote: true %></h4>
	<h4><%= link_to "Non traitées", admin_order_filtre_index_path(0), class: " ", remote: true %></h4>
	<button class="alert success">Export DBB</button>
</div>


<label>Classer par: 
<select name="classerment">
	<option value="N°" selected>N°</option>
	<option value="Date">Date</option>
	<option value="Prestataire">Prestataire</option>
	<option value="Montant">Montant</option>
	<option value="CP">CP</option>
</select>
</label>

<div id="listCommande">
	<%= render "listCommande.html.erb", orders: @orders %>
</div>