



ipad pro

ipad pro 10.5 portrait

accueil ok

































<!-- Afficher tous les notification possible -->
<div class="container" id="all_notifications">
    <div id="notification_list" data-notification="<%= Notification.lastIndex + 1 %>">
        <h2>Notification reto <spam class="badge badge-primary" id="number-hide"><%= Notification.notSee %></spam></h2>
        <div>
            <%= link_to "Tout Marquer comme lue", update_all_notifications_path %>
        </div>
        <ul id="ul_notification_list">
        <% Notification.all.order('id DESC').each do |notification| %>
             <li><%= link_to notification.messages, update_notifications_path(notification.id), method: :patch, 'data-view':notification.is_view %></li>
        <% end %>
        </ul>
    </div>
</div>




<li>
   MILA APOTRA Asorina 
  <%=# link_to "Mon compte", client_profil_path(current_client.last_name) %>
</li>


Status de commande {
  ● création de la commande statut = « en cours »

  ● “J’accepte” Maj statut de commande = “traitée”

  ● 24h avant la date de livraison prévue
    Maj du champ “statut de la commande => “non traitée”
}

<i class=\"fa fa-question-circle\" aria-hidden=\"true\"></i>
<div>
  <label class="labelle" for="guiest_id1">Heure</label>
  <select name="heure" id="guiest_id1" class="select-dro field">
    <option value="">Heure</option>
    <option value="08:00">08:00</option>
    <option value="08:30">08:30</option>
    <option value="09:00">09:00</option>
    <option value="09:30">09:30</option>
    <option value="10:00">10:00</option>
    <option value="10:30">10:30</option>
    <option value="11:00">11:00</option>
    <option value="11:30">11:30</option>
    <option value="12:00">12:00</option>
    <option value="12:30">12:30</option>
    <option value="13:00">13:00</option>
    <option value="13:30">13:30</option>
    <option value="14:00">14:00</option>
    <option value="14:30">14:30</option>
    <option value="15:00">15:00</option>
    <option value="15:30">15:30</option>
    <option value="16:00">16:00</option>
    <option value="16:30">16:30</option>
    <option value="17:00">17:00</option>
    <option value="17:30">17:30</option>
    <option value="18:00">18:00</option>
    <option value="18:30">18:30</option>
    <option value="19:00">19:00</option>
    <option value="19:30">19:30</option>
    <option value="20:00">20:00</option>
    <option value="20:30">20:30</option>
    <option value="21:00">21:00</option>
    <option value="21:30">21:30</option>
    <option value="22:00">22:00</option>
  </select>
</div>

<hr>
<small class="test">Compte de test: email: "email@mail.com", password:"email@mail.com"</small>
<hr>
<h1>ACCEUILL</h1>
<!-- LIEN POUR LES CONNEXION CLIENT-->
<%= link_to "Se connecter", new_client_session_path %><br>
<%= link_to "Se deconnecter", destroy_client_session_path, method: "delete" %><br>
<%= link_to "S'inscrire", new_client_registration_path %><br>
<%= link_to "Editer mon profil", edit_client_registration_path %><br>
<%= link_to "Mot de passe oublier", new_client_password_path %><br>
<hr>

<h2>LIEN POUR CHAQUE PAGE DE SERVICE</h2>
<%= link_to "Massage", massage_path %><br>
<%= link_to "Location de spa", spa_path %><br>

<hr>

<h2>PANIER DYNAMIQUE</h2>
<%= link_to "Massage à domicile", reservation_path('massage-domicile') %><br>
<%= link_to "Location de spa", reservation_path('location-spa') %>
<hr>

<h2>Autre lien utiles</h2>
<%= link_to "Contact", contact_path %><br>
<%= link_to "Galerie", galerie_path %><br>
<%= link_to "FAQ", faq_path %><br>
<%= link_to "Mentions légales", legalnotice_path %><br>
<%= link_to "CGU", cgu_path %><br>




<!-- APPOINMENT MODAL -->
<div id="appoinmentModal" class="modal fade modalCommon" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <!-- MODAL CONTENT-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div id="appointment-alert" class="my-alert"></div>
        
        <div class="container">

          <div class="panel panel-default formPart panel-login" >
            <div class="panel-heading patternbg" ><center> <span>Connectez-vous</span></center></div>
            <div class="panel-body panel-body-login">
              <form>
                <div class="form-group">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                  <input type="password" class="form-control" id="pwd" placeholder="Password">
                </div>
                <div class="checkbox">
                  <label><input type="checkbox"> Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
              </form>
            </div>


          </div>
        </div>
      </div>
    </div>






    <hr>
    <div class="row">
      <div class="col-sm-12">
        <div class="crenaux">
          <h2>Choix du créneaux horaire</h2>
          <p>choisir ici la date et l'heure pour la prestation</p>
          <br><br><br>
        </div>
      </div>
    </div>
    <hr>
    <div class="reserver">
      <h2>Confirmer la commande</h2>
      <p>
        Se connecter si non conecter<br>
        (Aprè clic sur reserver) Question suplementaire au produits<br>
        (Aprè clic sur reserver) Choix d'adresse de livraison<br>
        (Aprè clic sur reserver) Recapilatif de commande<br>
      </p>
      <strong>Lien pour enregistré la commande dans la table</strong><br>
      <%= link_to "Reserver", saved_commande_path, class: "btn btn-success"%>
    </div>









    <!--==========	css pour cette page  =============-->
    <link href="/css/reservation-spa.css" rel="stylesheet">

    <!-- PAGE TITLE SECTION -->
    <section class="clearfix pageTitleArea" style="background-image: url(/img/blog/pageTitle-bg04.jpg);">
      <div class="container">
       <div class="pageTitle">
        <h1>resérvation</h1> 
        <h1 id="faqTitle">LOCATION SPA à DOMICILE</h1> 
      </div>
    </div>
  </section>


  <!-- ORDER SECTION -->
  <section class="clearfix orderSection padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="innerWrapper">
            <div class="orderBox  patternbg">
              All Order
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Type de location spa</th>
                    
                    <th>Quantités</th>
                    <th>Informations</th>
                    <th>Total Price</th>
                  </tr>
                </thead>
                <tbody>
                  <% @prestations.each do |prestation| %>
                  <tr><td><%= prestation.name %> pour <%= prestation.duration %>H €<%= prestation.price.to_i %></td>
                    <td>
                      <%= link_to "moins", del_order_spa_path(prestation.id), class: "",remote: true %>
                      <strong id="nombre-<%= dom_id(prestation) %>">Nombre: <%= session[:params_spa].count(prestation.id) %></strong>
                      <%= link_to "plus", add_order_spa_path(prestation.id), class: "",remote: true %>
                    </td>

                    <td>
                      <%= form_tag(saved_spa_path) do %>
                      <h3>Information pour la location</h3>
                      <div id="information-prestation">
                        <% if @params.empty? %>
                        <p id="info-45">Vous n'avez pas encore choisi de prestation spa</p>
                        <% else %>
                        <% @params.each_index do |index| %>
                        <% subcategory = infosubcategory(@params[index]) %>
                        <div class="group-form-<%= subcategory.id %>">
                          <%= render partial: "add_spa_reservation", locals: { subcategory: subcategory, i: index } %>
                        </div>
                        <% end %>
                        <% end %>
                      </div>
                      
                    </td>
                  </tr>
                  <% end %>
                  <tr>
                    <td>#451231</td>
                    <td>2</td>
                    <td>$99.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <div class="container">

    <br><br><br>
    <div class="row">
      <div class="col-sm-9">

        <h2>Reservation SPA</h2>
        <ul>
          <% @prestations.each do |prestation| %>
          <li>
            <%= link_to "moins", del_order_spa_path(prestation.id), class: "",remote: true %>
            <%= prestation.name %> pour <%= prestation.duration %>H €<%= prestation.price.to_i %>
            <%= link_to "plus", add_order_spa_path(prestation.id), class: "",remote: true %>
            <strong id="nombre-<%= dom_id(prestation) %>">Nombre: <%= session[:params_spa].count(prestation.id) %></strong>
          </li>
          <% end %>
        </ul>

        

        <h3>Zone de livrasion</h3>
        <div>
          <%= label_tag 'Pays' %>
          <%= text_field_tag 'Pays' %>
        </div>
        <div>
          <%= label_tag "Department" %>
          <%= text_field_tag "Department" %>
        </div>
        <h3>Date et heurs de livraison</h3>
        <div class="dateSelect form-half form-left">
          <div class="input-group date ed-datepicker filterDate" data-provide="datepicker">
            <%= text_field_tag "Date", nil ,required: true, class: "form-control", placeholder:"MM/DD/YYYY"%>
            <div class="input-group-addon">
              <span class="fa fa-calendar"></span>
            </div>
          </div>
        </div>
        <div class="timeSelect form-half form-right" >
          <%= select_tag "Heurs", options_for_select([["Choisissez l'heure", ""], "06:00","07:00","08:00","09:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00"]), class:"select-drop",id:'guiest_id1' %>
        </div>

        <h3>Coordonnée</h3>
        <div>
          <%= label_tag "Adresse" %>
          <%= text_field_tag "Adresse" %>
        </div>

        <div>
          <%= label_tag "Un message particulier ?" %>
          <%= text_field_tag "Un message particulier ?" %>
        </div>
        
        <div>
          <%= submit_tag %>
        </div>
        <% end %>
        
      </div>
      <div class="col-sm-3">
        <h2>Panier</h2>
        <div id="panier">
          <h4>List de vos spa selon l'heure de location : </h4>
          <div id="list-prestation-spa">
            <% unless @params.empty? %>
            <% @params.uniq.each do |param| %>
            <% subcategory = infosubcategory(param) %>
            <div id="panier-<%= dom_id(subcategory) %>">
              <%= render partial: "add_panier_reservation_spa", locals: { subcategory: subcategory, nombre: session[:params_spa].count(param) } %>
            </div>
            <% end %>
            <%else%>
            <p id="panier-empty">Selectionner une prestation</p>
            <% end %>
          </div>
          <div>
            <strong>PRIX TOTAL: €<span id = "prix-total"><%= prixTotal() %></span></strong>
          </div>
        </div>
      </div>
    </div>
    <div>
      <% @produits.each do |produit| %>

      
      <% end %>
    </div>
  </div>



  <!-- media query -->
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {...}

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {...}

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {...}

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {...}

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {...}
  
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { /* STYLES GO HERE */}












  <!-- PRODUCTS SECTION -->
  <section class="container-fluid clearfix productArea">
    <div class="container">
      <div class="secotionTitle">
        <h2 class="police_massage"><span>Nos produits </span>à vendre</h2>
      </div>
      <div class="row row-product">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="produtSingle">
            <div class="produtImage">
              <img src="img/products/product-1.jpg" alt="Image Product" class="img-responsive">
              <div class="productMask"> </div>
            </div>
            <div class="productCaption">
              <h2><a href="/show_produit">Handmade Soap</a></h2>
              <h3>$19</h3>
              <ul class="list-inline productOption">
                <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row row-product">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="produtSingle">
              <div class="produtImage">
                <img src="img/products/product-2.jpg" alt="Image Product" class="img-responsive">
                <div class="productMask"> </div>
              </div>
              <div class="productCaption">
                <h2><a href="single-product.html">Handmade Soap</a></h2>
                <h3>$19</h3>
                <ul class="list-inline productOption">
                  <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-info" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row row-product">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="produtSingle">
                <div class="produtImage">
                  <img src="img/products/product-3.jpg" alt="Image Product" class="img-responsive">
                  <div class="productMask"> </div>
                </div>
                <div class="productCaption">
                  <h2><a href="/show_produit">Handmade Soap</a></h2>
                  <h3>$19</h3>
                  <ul class="list-inline productOption">
                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-info" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row row-product">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="produtSingle">
                  <div class="produtImage">
                    <img src="img/products/product-4.jpg" alt="Image Product" class="img-responsive">
                    <div class="productMask"> </div>
                  </div>
                  <div class="productCaption">
                    <h2><a href="single-product.html">Handmade Soap</a></h2>
                    <h3>$19</h3>
                    <ul class="list-inline productOption">
                      <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-info" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="text-down"><a href="/all_produit" class="lireSuite">Plus des produits...</a></div>
            </div>
          </section>











          ★★★★★
          “Super prestation effet de surprise garantie Décoration exceptionnelle mais je tiens surtout à souligner le professionnalisme de cette société Comme On en voit très peu de nos jours. Merci encore a toutes l'équipe.”
          Less
          - Vanessa Guez
          ★★★★★
          “Prestation au top.. rapidité extrême. Ayant réservé à 13h pour être en place à 19h.. top qualité, 24h de bonheur dans son salon. Je recommande à ceux qui veulent passer un bon moment chez eux. Honnêtement c'est génial je recommencerais.”
          Less
          - Sami Tessier
          ★★★★★
          “Idée originale, très bon service et efficace”
          - Michouu Moukengué
          ★★★★★
          “Excellent juste parfait pour notre part ! Bonne organisation et montage propre rien à dire ,nous avons passés un excellent moment à notre domicile avec le j'acuzzi et la personne qui monte le j'acuzzi est au top !!”
          Less
          - Cameron LO RE
          ★★★★★
          “24h de magie à domicile . Ponctuel, professionnel, discret, n'hésitez pas à contacter Cocooning spa pour une surprise sur mesure. Nous avons passé des moments inoubliables dans l'intimité d'un chez soi, c'est mieux qu'à l'hôtel !”
          Less
          - Angé Lique
          ★★★★★
          “Effet de surprise garantie pour ce pack cocooning. 3 jours ou nous avons apprécié ce moment de détente absolu chez soi. A refaire très vite!! Equipe dynamique et commerciale!!! A recommander vivement”
          Less
          - Silvia La Toune
          ★★★★★
          “Merci beaucoup pour cette prestation, service professionnel et rapide, je recommande à 100%.”
          Less
          - Nicolas Altenburger 









          <!-- orders.html.erb -->
          <!-- ======================================================================== -->
          <div class="row">
            <div class="col-sm-9">

              <%= form_tag(save_session_path,id:"form-data",'data-id':"#{@idMassage}",'data-spas':"#{@spas}",'data-spaoptions':"#{@spaoptions}",'data-massages':"#{@massages}") do %>

              <div id="prestation-list">
                <div class="spa">
                  <h2>LOCATION SPA A DOMICILE</h2>
                  <div class="spa-click">
                    <p>Je souhaite reserver <i class="fa fa-minus-circle" id="remove-spa"></i><span id="number-spa">0</span><i class="fa fa-plus-circle" id="add-spa"></i> spa</p>

                  </div>
                  <div id="spa-input">

                  </div>
                </div>
                <!-- ======================================================================== -->
                <div class="massage">
                  <h2>MASSAGE A DOMICILE</h2>

                  <!-- #################### -->
                  <div id="select-prestation">
                    <h4>Je souhaite reserver pour :</h4>
                    <div>
                      <p>Homme<i class="fa fa-minus-circle remove-massage" data-cat="Homme"></i><span id="number-Homme">0</span><i class="fa fa-plus-circle add-massage" data-cat="Homme"></i></p>
                    </div>
                    <div>
                      <p>Femme<i class="fa fa-minus-circle remove-massage" data-cat="Femme"></i><span id="number-Femme">0</span><i class="fa fa-plus-circle add-massage" data-cat="Femme"></i></p>
                    </div>


                  </div>

                  <div id="massage-input">


                  </div>

                  <!-- #################### -->
                  <div class="praticien">
                    <h4>Infos complementaires</h4>
                    <label>Type de praticien</label>
                    <div>
                      <input type="radio" id="man" name="praticien" value="Homme" class="praticien-list" >
                      <label for="man">Homme</label>
                    </div>

                    <div>
                      <input type="radio" id="woman" name="praticien" value="Femme" class="praticien-list" >
                      <label for="woman">Femme</label>
                    </div>

                    <div>
                      <input type="radio" id="other" name="praticien" value="Peu importe" class="praticien-list" >
                      <label for="other">Peu importe</label>
                    </div>
                  </div>
                </div>
                <!-- ======================================================================== -->
                <div class="cadeaux">
                  <h2>FAITE PLAISIR AVEC NOS IDEES CADEAUX</h2>
                  <ul>
                    <% @cadeaus.each do |cadeau| %>
                    <li><%= cadeau.name %>: <%= cadeau.price %>€
                      <i class="fa fa-minus-circle cadeau-rmv" data-id="<%= cadeau.id %>" data-price="<%= cadeau.price %>" data-name="<%= cadeau.name %>"></i>
                      <span id="<%= cadeau.id %>-nbr">0</span>
                      <i class="fa fa-plus-circle cadeau-add" data-id="<%= cadeau.id %>" data-price="<%= cadeau.price %>" data-name="<%= cadeau.name %>"></i>
                    </li>
                    <% end %>
                  </ul>
                  <input type="text" value="[]" name="cadeau" id="cadeau-id" class="hidden">
                </div>

              </div>


              <%= submit_tag("Suivant", id:"submi-tag",  class:"confirm-command btn btn-primary a-btn text-btn") %>


              <% end %>











<div class="container">
<!--   <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal"> Modal</button>
 -->  
 <div class="modal fade hidden" id="cart-inner-ok" role="dialog">
    <!-- modal dialog -->
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- modal header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="mohe">
            <h4 class="modal-title"> Votre commande</h4>
          </div>
        </div>
        <!-- end modal header-->
        <!-- modal body -->
        <div class="modal-body">
         
            <fieldset>
              <legend> Prestations:</legend>
        <div id="cart-inner-prestation">
        </div>
            </fieldset>

            <fieldset>
              <legend> Produits:</legend>
        <div id="cart-inner-produit">
        </div>
            </fieldset>

              <fieldset>
              <legend> Code promo:</legend>
        <p id="promo-code"></p>
            </fieldset>
                  <div>
        <h2>Prix total <span id="price-modal-cart">0 €</span></h2>
      </div>
       <div>
      <p>Important: Pour les prestations, seul l'accompte est à régler en ligne, le reste du montant est à regler au prestataire en main propre (chèque ou éspèce uniquement)</p>
       </div>
        </div>
        <!-- end modal body -->
        <!-- modal footer-->
        <div class="modal-footer">
          <div class="mohe">
                  <a href="/reservation-prestation#submi-tag">

            <button type="submit" class="btn btn-default btn-md btn-sm" data-dismiss="modal"> SEND</button>
            </a>
          </div>
        </div>
        <!-- end modal footer -->
      </div>
      <!-- end modal content-->
    </div>
    <!-- end modal dialog-->
  </div>
</div>
<!-- end modal --> 


<div id="cart-inner-ok" class="hidden">
      <h1>Votre commande</h1>
      <div>
        <h2>Prestation</h2>
        <div id="cart-inner-prestation">
        </div>
      </div>
      <div>
        <h2>Produit</h2>
        <div id="cart-inner-produit">
        </div>
      </div>
      <div>
        <h2>Code promo</h2>
        <p id="promo-code"></p>
      </div>
      <div>
        <h2>Prix total <span id="price-modal-cart">0 €</span></h2>
      </div>
      <p>Important: Pour les prestations, seul l'accompte est à régler en ligne, le reste du montant est à regler au prestataire en main propre (chèque ou éspèce uniquement)</p>
      <a href="/reservation-prestation#submi-tag">suivant</a>
    </div>













    <style>
    .police_massage{

  font-family: Jazz LET, fantasy;
  z-index: -4;
}
</style>




<!-- PAGE TITLE SECTION -->
    <section class="clearfix pageTitleArea" style="background-image: url(img/blog/pageTitle-bg.jpg);">
        <div class="container">
          <div class="pageTitle">
              <h1>cocooning</h1>
          </div>
        </div>
    </section>

<!-- ABOUT SECTION -->
    <section class="container-fluid clearfix aboutSection patternbg" >
      <div class="aboutInner">
        <div class="sepcialContainer">
          <div class="row">
            <div class="col-sm-6 col-xs-12 rightPadding">
              <div class="imagebox ">
                <img src="img/home/home-about.jpg" alt="Image About" class="img-responsive">
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="aboutInfo">
                <h2>Angel luxury spa resort</h2>
                <h3>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
                  trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat  cupidatat non proident.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- REVIEW SECTION -->
    <section class="clearfix reviewSection patternbg">
      <div class="container">
        <div class="secotionTitle">
          <h2 class="police_massage"><span>A propos</span>de nous</h2>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-sm-9 col-sm-offset-3 col-xs-12 reviewInner">
                <div class="reviewImage hidden-xs">
                  <img src="img/home/testimonial-1.jpg" alt="Image review" class="img-responsive">
                </div>
                <div class="reviewInfo">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam co laboris nisi ut aliquip ex ea commodo conse quat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                    <h3>Linda Smith</h3>
                    <h4>Founder, Angel Beauty Spa</h4>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-sm-9 col-sm-offset-3 col-xs-12 reviewInner">
                <div class="reviewImage hidden-xs">
                  <img src="img/home/testimonial-2.jpg" alt="Image review" class="img-responsive">
                </div>
                <div class="reviewInfo">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam co laboris nisi ut aliquip ex ea commodo conse quat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                    <h3>Linda Smith</h3>
                    <h4>Founder, Angel Beauty Spa</h4>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <!-- EXPERT SECTION -->
    <section class="clearfix expertSection">
      <div class="container">
        <div class="secotionTitle">
          <h2 class="police_massage"><span>Contacter </span>Nos experts</h2>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div id="thubmnailTeamSlider" class="carousel slide thumbnailCarousel">

              <ol class="carousel-indicators">
                <li data-target="#thubmnailTeamSlider" data-slide-to="0" class="active"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="1"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="2"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="3"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="4"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="5"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="6"></li>
                <li data-target="#thubmnailTeamSlider" data-slide-to="7"></li>
              </ol>

              <!-- Carousel items -->
              <div class="carousel-inner">

                <div class="item active">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-1.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-2.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-3.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-4.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-1.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-2.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-3.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="item-inner">
                    <div class="expertBox">
                      <div class="expertImage">
                        <img src="img/home/team-4.jpg" alt="Image expert">
                        <div class="expertMask">
                          <div class="socialArea">
                            <ul class="list-inline">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="expertCaption ">
                        <h2>Linda Smith</h2>
                        <p>Founder, Angel Beauty Spa</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <a class="left carousel-control" href="#thubmnailTeamSlider" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#thubmnailTeamSlider" data-slide="next">›</a>
            </div>
          </div>
        </div>
      </div>
    </section>